<a href="https://colab.research.google.com/github/alphasinghsingh/Data_Science/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#n=int(input("\n enter the even numbers:))
i=0
for i in range(2,11,2) :
      print(i)

2
4
6
8
10

In [ ]:
for i in range(1,12,2):
  print(i)

1
3
5
7
9
11

In [ ]:
# sum of n natural numbers:
n=int(input("\n enter the n number whose sum is desired:"))

sum =0
for i in range(1,n+1) :
  sum= sum+i
print("\n sum= " , sum)

 enter the n number whose sum is desired:3

 sum=  6

In [ ]:
#factorial of number
n=int(input("\n enter the number whose factorial is required:"))
fact=1
for i in range(1, n+1, 1) :
  fact= fact * i
print("\n factorial is=",fact)

 enter the number whose factorial is required:5

 factorial is= 120

In [4]:
name="qazw123"
print(name[::-1])

321wzaq

In [5]:
name="qazwsx"
print(name[::-2])

xwa

In [6]:
x="kaiseho"
for i in x:
  print(i)

k
a
i
s
e
h
o

In [13]:
x="kaiseho"
for i in range(len(x)):
  print(f" {i} : {x[i]}")

 0 : k
 1 : a
 2 : i
 3 : s
 4 : e
 5 : h
 6 : o

In [18]:
#name="xyyx"
name =input("\n enter the string:")
rev= name[::-1]
if name==rev :
  print("\n string is palindrome")
else :
  print("\n string is not palindrome")

 enter the string:radar

 string is palindrome

In [21]:
#name ="xyyx"
name= input("\n enter the string:")
rev=""
for char in name :
  rev = char+ rev
  print(rev)
if name==rev :
  print("\n string is palindrome")
else :
  print("\n string is not palindrome")

 enter the string:radar
r
ar
dar
adar
radar

 string is palindrome