<a href="https://colab.research.google.com/github/alphasinghsingh/Data_Science/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

items = ("tv", "fridge", "wmachine", "shirts", "fans")
prices = (200, 300, 400, 200, 100)
discount = (10, 20, 30, 40, 20)

# -------------------------
# STEP 1 : Convert to lists
# -------------------------
items_list = list(items)
prices_list = list(prices)
discount_list = list(discount)

# -------------------------------------
# STEP 2 : All calculations on the lists
# -------------------------------------

total_bill = sum(prices_list)

discount_amounts_list = []
for i in range(len(prices_list)):
    dis_amt = prices_list[i] * discount_list[i] / 100
    discount_amounts_list.append(dis_amt)

total_discount = sum(discount_amounts_list)
payable_amount = total_bill - total_discount

# ------------------------------------------------
# STEP 3 : Convert lists → tuples for output display
# ------------------------------------------------
items_tuple = tuple(items_list)
prices_tuple = tuple(prices_list)
discount_tuple = tuple(discount_list)
discount_amounts_tuple = tuple(discount_amounts_list)

# -------------------------
# STEP 4 : Final output
# -------------------------
print("Items:", items_tuple)
print("Prices:", prices_tuple)
print("Discount %:", discount_tuple)
print("Discount Amounts:", discount_amounts_tuple)

print("\nTotal Bill =", total_bill)
print("Total Discount =", total_discount)
print("Final Payable Amount =", payable_amount)

Items: ('tv', 'fridge', 'wmachine', 'shirts', 'fans')
Prices: (200, 300, 400, 200, 100)
Discount %: (10, 20, 30, 40, 20)
Discount Amounts: (20.0, 60.0, 120.0, 80.0, 20.0)

Total Bill = 1200
Total Discount = 300.0
Final Payable Amount = 900.0

In [ ]:
a=(5,20,25,30)
b=(26,5,6,2,3)
c=(3,2,5,1,6)
c=list(c)
average=0
n=len(a)
add=sum(a)
#print(sum)
average= add/n
print(average)
#if b%2==0 :
 # print("number is even")
#else:
 # print("number is odd")
for i in b:
 if i%2 != 0:
   print(i)
n=len(c)
product = 1
for i in c:
   product *=i

print(product)

20.0
5
3
180

In [ ]:
a=(20,5,100,75,85,125,83)
n=len(a)
for i in a:
  if i%5 ==0:
    print("\t",i)


for i in a:
  if ((i%5 ==0) and (i%20==0)):
    print(i)


for i in a :
  if ((i%5 ==0) or (i%20==0)):
    print("\t",i)

for i in a:
  if ((i%5==0) and (i%20==0) or (i%15==0)):
    print(i)

	 20
	 5
	 100
	 75
	 85
	 125
20
100
	 20
	 5
	 100
	 75
	 85
	 125
20
100
75

In [ ]:
employee={"name" :"raju", "äge" :20 ,"salary":5000}
print(employee)
print(employee["name"])
for key,values in employee.items():
  print(f"{key} is {values}")

{'name': 'raju', 'äge': 20, 'salary': 5000}
raju
name is raju
äge is 20
salary is 5000

In [ ]:
employee= {"name" :["x","y","z","p"],
           "age": [20,30,40,50],
           "salary":[1000,2000,3000,4000] }
#for key,values in employee.items():
#print(employee)
#for key,values in employee.items():
sum=0
print(employee["name"])
print(employee["age"])
print(employee["salary"])
for i in employee["salary"]:
  sum=sum+i
print(sum)

['x', 'y', 'z', 'p']
[20, 30, 40, 50]
[1000, 2000, 3000, 4000]
10000

In [ ]:
employee= {"name" :["x","y","z","p"],
           "age": [20,30,40,50],
           "salary":[1000,2000,3000,4000] }
employee["des"]=["xyz"]
print(employee)

{'name': ['x', 'y', 'z', 'p'], 'age': [20, 30, 40, 50], 'salary': [1000, 2000, 3000, 4000], 'des': ['xyz']}

In [ ]:
employee= {"name" :["x","y","z","p"],
           "age": [20,30,40,50],
           "salary":[1000,2000,3000,4000] }
employee["des"]=["xyz"]
print(employee)
del employee["des"]
print(employee)

{'name': ['x', 'y', 'z', 'p'], 'age': [20, 30, 40, 50], 'salary': [1000, 2000, 3000, 4000], 'des': ['xyz']}
{'name': ['x', 'y', 'z', 'p'], 'age': [20, 30, 40, 50], 'salary': [1000, 2000, 3000, 4000]}

In [ ]:
menu= {"items":["x","y","z","p"],
           "prices":[200,300,400,500],
           "discount":[10,20,30,40] }
total_bill=0

items_list = list(menu["items"])
prices_list = list(menu["prices"])
discount_list = list(menu["discount"])
total_bill = sum(prices_list)

discount_amounts_list = []
for i in range(len(prices_list)):
    dis_amt = prices_list[i] * discount_list[i] / 100
    discount_amounts_list.append(dis_amt)

total_discount = sum(discount_amounts_list)
payable_amount = total_bill - total_discount

print("\nTotal Bill =", total_bill)
print("\nTotal Discount =", total_discount)
print("\nFinal Payable Amount =", payable_amount)

#for in range(len(menu["items"])):
  #print(menu["item"[i]])

Total Bill = 1400

Total Discount = 400.0

Final Payable Amount = 1000.0

In [ ]:
Menu = {
    "products": ["x", "y", "z", "p"],
    "price": [200, 300, 400, 500],
    "discount": [10, 20, 30, 40]
}

total_bill = 0
total_discount = 0

for i in range(len(Menu["products"])):
    price = Menu["price"][i]
    discount_percent = Menu["discount"][i]

    total_bill += price
    total_discount += price * (discount_percent / 100)
final_payable = total_bill - total_discount

print("Total Bill:", total_bill)
print("Total Discount:", total_discount)
print("Final Payable Amount:", final_payable)

Total Bill: 1400
Total Discount: 400.0
Final Payable Amount: 1000.0

In [ ]:
# Given dictionary
items = {
    "state": ["pb", "hr", "up", "hp", "pb", "guj", "hr"],
    "sale":  [2000, 3000, 4000, 5000, 1000, 3000, 2000]
}

total_sale = 0
state_wise_sale = {}


for i in range(len(items["state"])):
    state = items["state"][i]
    sale_amount = items["sale"][i]


    total_sale += sale_amount


    if state in state_wise_sale:
        state_wise_sale[state] += sale_amount
    else:
        state_wise_sale[state] = sale_amount


print("Total Sale:", total_sale)
print("State-wise Sale:", state_wise_sale)

Total Sale: 20000
State-wise Sale: {'pb': 3000, 'hr': 5000, 'up': 4000, 'hp': 5000, 'guj': 3000}

In [ ]:
a=10
b=5
print(a/b)

2.0

In [ ]:
a=10
b='c'
try:
  print(a/b)
except TypeError :
  print("cannot ne used as divisible by char not possible")
finally:
  print(" welcome")

cannot ne used as divisible by char not possible
 welcome

In [ ]:
a=10
b=0
try:
  print(a/b)
except ZeroDivisionError :
  print("\n cannot divide by zero")
finally:
  print("welcome")

 cannot divide by zero
welcome

In [ ]:
a=10
b=10
try:
  print(a/b)
except ZeroDivisionError :
  print("\n cannot divide by zero")
else:
  print("output is interger value")
finally:
  print("welcome")

1.0
output is interger value
welcome

In [ ]:
employee={"name":"rajuk", "age":20 ,"salary":50000}
print(employee)
print(employee["name"])
print(employee["age"])
print(employee["salary"])
for key,values in employee.items():
  print(f"{key} is {values}")

{'name': 'rajuk', 'age': 20, 'salary': 50000}
rajuk
20
50000
name is rajuk
age is 20
salary is 50000

In [ ]:
def info():
  print("\n hello world")
info()

 hello world

In [ ]:
def add(a,b):
  print(a+b)
add(20,30)
add(30,10)
add(12,2)

50
40
14

In [ ]:
def fact(n):
  fact=1
  for i in range(1,n+1):
      fact=fact*i
  print(fact)
fact(5)

120

In [ ]:
def factorial(n):
  if n==0 :
    return 1
  else:
    p= n*factorial(n-1)
  return p
num=int(input("\n enter the number:"))
fact= factorial(num)
print("\n factorial of a number is:",fact)

 enter the number:4

 factorial of a number is: 24

In [ ]:

def fact(n):
  fact=1
  sum=0
  for i in range(1,n+1):
    fact=fact*i
    sum += fact
  return sum

print(fact(5))
print(fact(8))

153
46233

In [ ]:
def fact(n):
  fact=1
  sum=0
  for i in range(1,n+1):
    fact= fact*i
    if i%2 !=0 :
      sum += fact
  return(sum)
print(fact(5))

127

In [ ]:

def fibbo(n):
 a=0
 b=1
 sum=0
 for i in range(3,n+1):
    sum=a+b
    a=b
    b=sum
 return sum
print(fibbo(10))

34

In [ ]:
def hcf(a,b):
  if a<b :
    n =a
  else :
    n =b
  for i in range(1,n+1):
    if (a%i ==0) and (b%i==0):
      hcf=i
  return hcf
print(hcf(5,20))
print(hcf(100,20))

5
20

In [ ]:
def lcm(a,b):
  if a>b:
    n=a
  else:
    n=b
  for i in range(1,n+1) :
    if (n%a==0) and (n%b==0):
      return n
    n+=1
print(lcm(5,20))
print(lcm(100,20))

20
100

In [ ]:
def palin(num) :
  rev=0
  temp=num

  while num>0:
    digit=num%10
    rev= rev*10 +digit
    num //= 10
  #return rev

  print(temp)
  if temp == rev:
    print("num is palindrome")
  else:
    print(" num is not palindrome")

palin(11011)

11011
num is palindrome

In [ ]:
def add(num):
  sum=0
  while num>0:
    digit=num%10
    sum+=digit
    num //=10
  print(sum)
add(12345)

15

In [ ]:
def sersum(n):
  sum=0
  av=0
  for i in range(1,n+1):
    sum+=i
    av= sum/n
  print(sum)
  print(av)
print(sersum(5))

15
3.0
None

In [ ]:
def palin(txt):


  rev=txt[::-1]

  if txt==rev :
    print("string is a palindrome")
  else:
    print("string is not palindrome")
palin("radar")

palindrome

In [ ]:
def series(n) :

  while n>0:
    print(n)
    n=n-5
    #return n
print(series(50))

50
45
40
35
30
25
20
15
10
5
None

In [ ]:
def series(n):
  sum=0
  for i in range(1,n+1):
    if (i%5==0) and (i%10==0):
      sum += i
  print(sum)
series(50)

150

In [ ]:
total_sum = 0

# Sum of even numbers from 2 to 30
for i in range(2, 31, 2):
    total_sum += i

# Add 5! (factorial of 5)
fact = 1
for j in range(1, 6):
    fact *= j

total_sum += fact

print("Total Sum =", total_sum)

Total Sum = 360

In [ ]:
def fact(n):
  fact=1
  sum=0
  for i in range(1,n+1):
    fact= fact*i
    if i%2 ==0 :
      sum += fact
  return(sum)
print(fact(6))

746

In [ ]:
def fact(n):
  fact=1
  sum=0
  for i in range(1,n+1):
    fact= fact*i
    if i%2 !=0 :
      sum += fact
  return(sum)
print(fact(6))

127

In [ ]:
def fibbon(n):
  if (n<=1):
    return n
  else :
    return fibbon(n-1)+fibbon(n-2)
n=int(input("\n enter the numbers of terms:"))
for i in range(n):
  print(fibbon(i))

 enter the numbers of terms:10
0
1
1
2
3
5
8
13
21
34

In [ ]:
def factorial(n):
  if n==0 :
    return 1
  else:
    p= n*factorial(n-1)
  return p
num=int(input("\n enter the number:"))
fact= factorial(num)
print("\n factorial of a number is:",fact)

 enter the number:5

 factorial of a number is: 120

In [ ]:
square= lambda a: a*a
square(5)

25

In [ ]:
summ= lambda a,b : a+b
summ(5,6)

11

In [ ]:
product= lambda a,b,c : a*b*c
product(2,3,5)

30

In [ ]:
cube= lambda a: a*a*a
cube(5)

125

In [ ]:
def hcf(a,b,c):
  if a<b and a<c:
    n =a
  if b<c and b<a:
   n=b
  else :
    n =c
  for i in range(1,n+1):
    if (a%i ==0) and (b%i==0) and (c%i==0):
      hcf=i
  return hcf
print(hcf(20,30,15))
print(hcf(100,25,150))

5
25

In [ ]:
def lcm(a,b,c):
  if a>b and a>c:
    n=a
  if b>c and b>a:
    n=b
  else:
    n=c
  for i in range(n, a*b*c+1) :
    if (n%a==0) and (n%b==0) and (n%c==0):
      return n
    n+=1
print(lcm(5,10,15))
print(lcm(5,100,15))

30
300

In [ ]:
def lcm(a,b):
  if a>b:
    n=a
  else:
    n=b
  for i in range(1,n+1) :
    if (n%a==0) and (n%b==0):
      return n
    n+=1
print(lcm(5,20))
print(lcm(100,20))

20
100

In [ ]:
with open("file1.txt", "w") as file:
  file.write(" hello india")
  file.write("\n rajushyam")
  file.write("\n")
  file.write("\n")
  file.write("hello")

In [ ]:
with open("file1.txt", "r") as file:
  data=file.read()
print(data)

 hello india
 rajushyam

In [ ]:
with open("file1.txt","r") as file:
  data=file.readline()
  print(data)

hello india!!!!!!

In [ ]:
with open("file1.txt", "r") as file:
  data=file.readlines()
print(data)

[' hello india\n', ' rajushyam\n', '\n', 'hello']

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
with open("file1.txt", "r") as file:
  data=file.readlines()
for i in data:
  print(i)

hello india!!!!!!

In [ ]:
with open("file1.txt", "w") as file:
  file.write("hello india!!!!!!")

with open("file2.txt", "w") as file:
  file.write("india is a nation!!!!!!")

with open("file1.txt", "r") as file:
  data1=file.read()
with open("file2.txt", "r") as file:
  data2=file.read()

  data=data1+" "+data2
  with open("file3.txt", "w") as file:
    file.write(data)

# New Section

In [ ]:
with open("file3.txt", "a") as file:
  file.write(" hello india")
  file.write("\n rajushyam")

In [ ]:
with open("file4.txt","w") as file:
  file.write("what is the time")
  file.write("\nhello whats is the day")

In [ ]:
with open("file4.txt","r") as file:
  data=file.read()
  print(data)

what is the time
hello whats is the day

In [ ]:
with open("file4.txt","r") as file:
  data=file.readline()
  print(data)

what is the time

In [ ]:
with open("file4.txt","r") as file:
  data=file.readlines()
  print(data)

['what is the time\n', 'hello whats is the day']

In [ ]:
with open("file4.txt","r") as file:
  data=file.readlines()
  #print(data)
  for line in data:
    print(line)

what is the time

hello whats is the day

In [ ]:
with open("file4.txt","a") as file:
  file.write("hello india")
  file.write("\nhello whats is the day in india")

In [ ]:
with open("file5.txt", "w") as file:
  file.write("hello india-ram!!!")

with open("file6.txt", "w") as file:
  file.write("india is a nation-raj!!!!!!")

with open("file5.txt", "r") as file:
  data1=file.read()
with open("file6.txt", "r") as file:
  data2=file.read()

  data= data1 +" "+ data2
  with open("file7.txt", "w") as file:
    file.write(data)

In [ ]:
a=10
b=5
print(a/b)

2.0

In [ ]:
a=10
b=0
try:
  print(a/b)
except ZeroDivisionError :
  print("\ncannot divide by zero")
finally:
  print("welcome")

cannot divide by zero
welcome

In [ ]:
a=10
b=10
try:
  print(a/b)
except ZeroDivisionError :
  print("\n cannot divide by zero")
else:
  print("output is interger value and run successfully")
finally:
  print("welcome")

1.0
output is interger value and run successfully
welcome

In [ ]:
a=10
b='c'
try:
  print(a/b)
except TypeError :
  print("cannot ne used as divisible by char not possible in this program")
finally:
  print(" welcome")

cannot ne used as divisible by char not possible in this program
 welcome

In [ ]:
num = int(input("Enter a number: "))

if num <= 1:
    print(num, "is not a prime number")
else:
    for i in range(2, num):
        if num % i == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")

Enter a number: 47
47 is a prime number

In [ ]:
start = int(input("Enter the starting number: "))
end = int(input("Enter the ending number: "))

print("Prime numbers in the given range are:")

for num in range(start, end + 1):
    if num > 1:
        for i in range(2, num):
            if num % i == 0:
                break
        else:
            print(num)

Enter the starting number: 5
Enter the ending number: 15
Prime numbers in the given range are:
5
7
11
13

In [ ]:

num = int(input("Enter a number upto which prime numbers(1-num) are desired: "))
for num in range(1,101):
  if num<=1:
    continue
  else:
    for i in range(2,num):
      if (num % i == 0):
       break
    else:
      print(num)

Enter a number upto which prime numbers(1-num) are desired: 100
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
num=int(input("\n enter the number:"))
rev=0
digit=0
while(num>0):
  digit=num%10
  rev=rev*10+digit
  num//=10
print(rev)

 enter the number:123
321

In [ ]:
str=input("\n enter the string:")
#rev==0
rev=str[::-1]
print(rev)

 enter the string:qazwsc
cswzaq

In [ ]:
num=int(input("\n enter the number upto which series is desired:"))
sum=0
for i in range(1,num+1):

  sum+=i**5
  print(sum)

 enter the number upto which series is desired:10
1
33
276
1300
4425
12201
29008
61776
120825
220825

In [ ]:
num=int(input("\n enter the number upto which series is desired:"))
sum=0
for i in range(1,num+1):

  sum+=i**2
  print(sum)

 enter the number upto which series is desired:10
1
5
14
30
55
91
140
204
285
385

In [ ]:
num1=int(input("\n enter the number upto which even series is desired:"))
num2=int(input("\n enter the number upto which odd series is desired:"))


sum1=0
sum2=0
total_sum=0
for i in range(1,num1+1):
  if i%2==0:
    sum1+=i**3
    print(sum1)
for i in range(1,num2+1):
  if i%2!=0 :
    sum2+=i**2
    print(sum2)

total_sum=sum1 +sum2
print("\n\n total sum",total_sum)

 enter the number upto which even series is desired:10

 enter the number upto which odd series is desired:9
8
72
288
800
1800
1
10
35
84
165


 total sum 1965

In [ ]:
from math import pow
num1=int(input("\n enter the number:"))
num2=int(input("\n enter the number:"))
num3=int(input("\n enter the number:"))
num4=int(input("\n enter the number:"))
y1=pow(num1,0.25)
y2=pow(num2,0.25)
y3=pow(num3,0.25)
y4=pow(num4,0.25)
print(y1+y2+y3+y4)

 enter the number:16

 enter the number:81

 enter the number:256

 enter the number:625
14.0

In [ ]:
a=[i for i in range(5)]
print(a)

[0, 1, 2, 3, 4]

In [ ]:
a=[i*i for i in range(5)]
print(a)

[0, 1, 4, 9, 16]

In [ ]:
a=[i**5 for i in range(5)]
print(a)

[0, 1, 32, 243, 1024]

In [ ]:
a=[i**0.5 for i in range(5)]
print(a)

[0.0, 1.0, 1.4142135623730951, 1.7320508075688772, 2.0]

In [ ]:
a=[i for i in range(20) if i%2==0]
print(a)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
a=[i for i in range(10) if i%2!=0 ]
print(a)

[1, 3, 5, 7, 9]

In [ ]:
# Sum of squares of odd numbers from 1 to 9
sum_squares_odd = 0
for i in range(1, 10, 2):    # 1,3,5,7,9
    sum_squares_odd += i**2

# Sum of cubes of even numbers from 2 to 10
sum_cubes_even = 0
for i in range(2, 11, 2):    # 2,4,6,8,10
    sum_cubes_even += i**3

# Total sum of both series
total_sum = sum_squares_odd + sum_cubes_even

print("Sum of squares of odd numbers (1–9):", sum_squares_odd)
print("Sum of cubes of even numbers (2–10):", sum_cubes_even)
print("Total sum:", total_sum)

Sum of squares of odd numbers (1–9): 165
Sum of cubes of even numbers (2–10): 1800
Total sum: 1965

In [ ]:
import numpy as np
a=np.array([2,3,5])
print(a)

[2 3 5]

In [ ]:
import numpy as np
a=np.array(55)
print(a)

55

In [ ]:
import numpy as np
a=np.array(55)
print(a.ndim)

0

In [ ]:
import numpy as np
a=np.array([55,65])
print(a)

[55 65]

In [ ]:
#a=a.shape()
a=np.array([55,65])
print(a)
print(a.shape)

[55 65]
(2,)

In [ ]:
matrix=np.array([[2,4],[5,6]])
print(matrix)
matrix.shape

[[2 4]
 [5 6]]

(2, 2)

In [ ]:
matrix1=np.array([[2,5,4,5],[5,6,7,8]])
print(matrix1)
matrix1.shape

[[2 5 4 5]
 [5 6 7 8]]

(2, 4)

In [ ]:
matrix1=np.array([[2,5],[4,5],[5,6],[7,8]])
print(matrix1)
matrix1.shape

[[2 5]
 [4 5]
 [5 6]
 [7 8]]

(4, 2)

In [ ]:
a=[5,6,8,2]
b=[2,3,4,5]
a=np.array([5,6,8,2])
b=np.array([2,3,4,5])
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(len(a))
print(len(b))
print(max(a))
print(min(a))
print(sum(a))
print(a.std())
print(sum(a))

[ 7  9 12  7]
[ 3  3  4 -3]
[10 18 32 10]
[2.5 2.  2.  0.4]
4
4
8
2
21
2.165063509461097
21

In [ ]:
import numpy as np
a=np.array([2])
b=np.array([3,5,6])
c=np.array([2,1,6])
print(a*b+c)

[ 8 11 18]

In [ ]:
x=np.eye(6)
print(x)

[[1. 0. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0. 0.]
 [0. 0. 1. 0. 0. 0.]
 [0. 0. 0. 1. 0. 0.]
 [0. 0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 0. 1.]]

In [ ]:
x=np.eye(3)
print(x)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

In [ ]:
x=np.zeros([2,3])
print(x)

[[0. 0. 0.]
 [0. 0. 0.]]

In [ ]:
x=np.ones([3,3])
print(x)

[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]

In [ ]:
a=[[5,6],[7,8]]
print(a)

[[5, 6], [7, 8]]

In [ ]:
a=[[[5,6,7],[1,2,3]]]
print(a)

[[[5, 6, 7], [1, 2, 3]]]

In [ ]:
import numpy as np
matrix1=np.array([[2,5,4],[5,6,7],[7,8,6]])
print(matrix1)
print(matrix1.ndim)

[[2 5 4]
 [5 6 7]
 [7 8 6]]
2

In [ ]:
import numpy as np
from scipy import stats

arr1d = np.array([1, 2, 2, 3, 4])
x=np.mean(arr1d)
y=np.median(arr1d)
z=stats.mode(arr1d)
print(x)
print(y)
print(z)

2.4
2.0
ModeResult(mode=np.int64(2), count=np.int64(2))

In [ ]:
arr2d = np.array([[1, 2, 3],
                  [4, 5, 6]])
d=np.mean(arr2d)          # overall
d1=np.mean(arr2d, axis=0)  # column-wise
d2=np.mean(arr2d, axis=1)  # row-wise
print(d)
print(d1)
print(d2)

e=np.median(arr2d)
np.median(arr2d, axis=0)
np.median(arr2d, axis=1)
print(e)
stats.mode(arr2d, axis=None)   # entire matrix
stats.mode(arr2d, axis=0)      # column-wise

3.5
[2.5 3.5 4.5]
[2. 5.]
3.5

ModeResult(mode=array([1, 2, 3]), count=array([1, 1, 1]))

In [ ]:
arr3d = np.array([
    [[1, 2, 3],
     [4, 5, 6]],

    [[7, 8, 9],
     [1, 2, 3]]
])

s=np.mean(arr3d)            # overall
s1=np.mean(arr3d, axis=0)
s2=np.mean(arr3d, axis=1)
s3=np.mean(arr3d, axis=2)
print(s)
print("\n",s1)
print("\n",s2)
print("\n",s3)

y=np.median(arr3d)
y1=np.median(arr3d, axis=0)
y2=np.median(arr3d, axis=1)
y3=np.median(arr3d, axis=2)
print("----------------")
print(y)
print("\n",y1)
print("\n",y2)
print("\n",y3)

stats.mode(arr3d, axis=None)   # entire array
stats.mode(arr3d, axis=2)      # column-wise

4.25

 [[4.  5.  6. ]
 [2.5 3.5 4.5]]

 [[2.5 3.5 4.5]
 [4.  5.  6. ]]

 [[2. 5.]
 [8. 2.]]
----------------
3.5

 [[4.  5.  6. ]
 [2.5 3.5 4.5]]

 [[2.5 3.5 4.5]
 [4.  5.  6. ]]

 [[2. 5.]
 [8. 2.]]

ModeResult(mode=array([[1, 4],
       [7, 1]]), count=array([[1, 1],
       [1, 1]]))

In [ ]:
import numpy as np

arr1d = np.array([1, 2, 2, 3, 4, 4, 5])

unique_elements = []

for i in arr1d:
    if i not in unique_elements:
        unique_elements.append(i)

print("Unique elements:", unique_elements)

Unique elements: [np.int64(1), np.int64(2), np.int64(3), np.int64(4), np.int64(5)]

In [ ]:
import numpy as np

arr1d = np.array([1, 2, 3, 4, 5])

unique_elements = []

for i in arr1d:
    i = int(i)  # convert np.int64 → Python int
    if i not in unique_elements:
        unique_elements.append(i)

print("Unique elements:", unique_elements)

Unique elements: [1, 2, 3, 4, 5]

In [ ]:
import numpy as np

arr2d = np.array([[1, 2, 3],
                  [2, 3, 4],
                  [4, 5, 1]])

unique_elements = []

for row in arr2d:
    for element in row:
        if element not in unique_elements:
            unique_elements.append(element)

print("Unique elements:", unique_elements)

Unique elements: [np.int64(1), np.int64(2), np.int64(3), np.int64(4), np.int64(5)]

In [ ]:
import numpy as np

arr3d = np.array([
    [[1, 2], [3, 4]],
    [[2, 3], [4, 5]]
])

unique_elements = []

for matrix in arr3d:
    for row in matrix:
        for element in row:
            if element not in unique_elements:
                unique_elements.append(element)

print("Unique elements:", unique_elements)

Unique elements: [np.int64(1), np.int64(2), np.int64(3), np.int64(4), np.int64(5)]

In [ ]:
a=np.linspace(0,1,5)
print(a)

[0.   0.25 0.5  0.75 1.  ]

In [ ]:
a=np.linspace(0,1,10)
print(a)

[0.         0.11111111 0.22222222 0.33333333 0.44444444 0.55555556
 0.66666667 0.77777778 0.88888889 1.        ]

In [ ]:
a=np.linspace(0,5,5)
print(a)

[0.   1.25 2.5  3.75 5.  ]

In [ ]:
a=np.linspace(5,100,5)
print(a)

[  5.    28.75  52.5   76.25 100.  ]

In [ ]:
a=np.linspace(1,100,50)
print(a)

[  1.           3.02040816   5.04081633   7.06122449   9.08163265
  11.10204082  13.12244898  15.14285714  17.16326531  19.18367347
  21.20408163  23.2244898   25.24489796  27.26530612  29.28571429
  31.30612245  33.32653061  35.34693878  37.36734694  39.3877551
  41.40816327  43.42857143  45.44897959  47.46938776  49.48979592
  51.51020408  53.53061224  55.55102041  57.57142857  59.59183673
  61.6122449   63.63265306  65.65306122  67.67346939  69.69387755
  71.71428571  73.73469388  75.75510204  77.7755102   79.79591837
  81.81632653  83.83673469  85.85714286  87.87755102  89.89795918
  91.91836735  93.93877551  95.95918367  97.97959184 100.        ]

In [ ]:
a=np.random.randint(10,500,100)
print(a)

[177 370  36  45 495  99  36 381 277  15  57 338 203 163 148 357  96 198
  63 488 474 214 144 119 413 307 132  42 447 170 122 300  52 174 399 358
  90  63 388 330 220 474 415 401 245 206 241 480 372 232 285 344  41 153
 355 325 107 353 381 331 148  99 306 348 127 265 123 441  97 454 220 333
 458 124 271 283 425 122  26 375 486 305 234 165 445 288 169  85 321 106
 325 265 240 273 299 295  74  13 315 164]

In [ ]:
a=np.arange(1,100)
print(a)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48
 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72
 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96
 97 98 99]

In [ ]:
a=np.arange(1,100,2)
print(a)

[ 1  3  5  7  9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47
 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95
 97 99]

In [ ]:
a=np.arange(1,100,6)
print(a)

[ 1  7 13 19 25 31 37 43 49 55 61 67 73 79 85 91 97]

In [ ]:
a=np.array([[5,6,7]])
print(a)
a.shape
a.ndim

[[5 6 7]]

2

In [ ]:
a=np.array([[[5,6,7]]])
print(a)
a.shape
a.ndim

[[[5 6 7]]]

3

In [ ]:
a=np.array([[[[5,6,7]]]])
print(a)
a.ndim

[[[[5 6 7]]]]

4

In [ ]:
a=np.array([[[2,3,4]],[[3,4,5]]])
print(a)
a.ndim

[[[2 3 4]]

 [[3 4 5]]]

3

In [ ]:
a=np.array([[[[2,3,4]]],[[[3,4,5]]]])
print(a)
a.ndim

[[[[2 3 4]]]


 [[[3 4 5]]]]

4

In [ ]:
a=np.array([[[[5,6,7]]]])
print(a)
a.ndim
a[1:4]
a[3:]

[[[[5 6 7]]]]

array([], shape=(0, 1, 1, 3), dtype=int64)

In [ ]:
a=np.array([[2,13,14],[3,4,5]])
print(a)
print(a.ndim)
print(a[1:4])
print(a[0][1:])

[[ 2 13 14]
 [ 3  4  5]]
2
[[3 4 5]]
[13 14]

In [ ]:
a=np.array([2,3,4])
print(a)
print(a.ndim)
print(a[1:4])

[2 3 4]
1
[3 4]

In [ ]:
a=np.array([[2,3,4],[35,6,7]])
print(a)
print(a.ndim)
print(a[1][1])
print(a[1,1:])
print(a[0,1])

[[ 2  3  4]
 [35  6  7]]
2
6
[6 7]
3

In [ ]:
a=np.array([[2,3,4],[35,6,7],[23,34,45]])
print(a)
print(a.ndim)
print("---------")
print(a[1][1])
print(a[1,1:])
print("---------")
print(a[0,1])
print(a[2,2])

[[ 2  3  4]
 [35  6  7]
 [23 34 45]]
2
---------
6
[6 7]
---------
3
45

In [ ]:
a=np.array([[[2,30,40]],[[35,6,7]]])
print(a)
print(a.ndim)
print("-------")
print(a[0][0][1])
print(a[0][0][1:])
#print(a[1,1:])
#print(a[0,1])
print(a[0][0][0])
print(a[0,0,0:2])

[[[ 2 30 40]]

 [[35  6  7]]]
3
-------
30
[30 40]
2
[ 2 30]

In [ ]:
a=np.array([[[2,3,4]],[[35,6,7]]])
print(a)
print(a.ndim)
print("-------")
print(a[0,0,1:1])
#print(a[1,1:])
#print(a[0,1])
print("---------------")
print(a[0][0][0])
print(a[0,0,0:1])
print("----------------")
print(a[0,0,0:2])
print(a[0,0,1:1])
print(a[0,0,1:])
print("---------")
print(a[1,1:2])
print(a[1,0:])
print(a[1,0:1])
print("---------")

[[[ 2  3  4]]

 [[35  6  7]]]
3
-------
[]
---------------
2
[2]
----------------
[2 3]
[]
[3 4]
---------
[]
[[35  6  7]]
[[35  6  7]]
---------

In [ ]:
a=np.array([[[20,30,40],[35,60,7]],[[51,21,31],[12,13,11]]])
print(a)
print(a.ndim)
print(a.shape)
print("--------")
print(a[0][1][0:2])
print(a[0,1,0:])
print(a[1,1,1:])
print(a[1,0,0:2])

[[[20 30 40]
  [35 60  7]]

 [[51 21 31]
  [12 13 11]]]
3
(2, 2, 3)
--------
[35 60]
[35 60  7]
[13 11]
[51 21]

In [ ]:
a=np.array([50,20,30,50])
b=np.array([30,50,60,40])
print(a+b)
print(a-b)
print(a/b)
print(a*b)
print(a%b)
print(max(a))
print(min(a))
print(sum(a))

[80 70 90 90]
[ 20 -30 -30  10]
[1.66666667 0.4        0.5        1.25      ]
[1500 1000 1800 2000]
[20 20 30 10]
50
20
150

In [41]:
a=np.array([5,2,3,4])
print(a)
a.ndim
print(a[2:4])
print(a[0:2])

[5 2 3 4]
[3 4]
[5 2]

In [ ]:
a=np.array([[5,2],[3,4]])
print(a**2)

[[25  4]
 [ 9 16]]

In [ ]:
import numpy as np
a=np.array([[[[[51,34,42],[30,40,20]]]]])
print(a.ndim)
print("--------")
print(a[0][0][0][0][1:])
print(a[0,0,0,0,1:])
print("-----")
print(a[0][0][0][1][1:])
print(a[0,0,0,1,1:])

5
--------
[34 42]
[34 42]
-----
[40 20]
[40 20]

In [ ]:
import numpy as np

# Function to check if a number is prime
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

# Function to generate first 'count' prime numbers
def generate_primes(count):
    primes = []
    num = 2
    while len(primes) < count:
        if is_prime(num):
            primes.append(num)
        num += 1
    return primes

# -------------------------------
# 1D Array of Prime Numbers
# -------------------------------
primes_1d = np.array(generate_primes(10))
print("1D Array of Prime Numbers:")
print(primes_1d)

# -------------------------------
# 2D Array of Prime Numbers (4x5)
# -------------------------------
primes_2d = np.array(generate_primes(20)).reshape(4, 5)
print("\n2D Array of Prime Numbers:")
print(primes_2d)

# -------------------------------
# 3D Matrix of Prime Numbers (2x3x4)
# -------------------------------
primes_3d = np.array(generate_primes(24)).reshape(2, 3, 4)
print("\n3D Matrix of Prime Numbers:")
print(primes_3d)

1D Array of Prime Numbers:
[ 2  3  5  7 11 13 17 19 23 29]

2D Array of Prime Numbers:
[[ 2  3  5  7 11]
 [13 17 19 23 29]
 [31 37 41 43 47]
 [53 59 61 67 71]]

3D Matrix of Prime Numbers:
[[[ 2  3  5  7]
  [11 13 17 19]
  [23 29 31 37]]

 [[41 43 47 53]
  [59 61 67 71]
  [73 79 83 89]]]

In [51]:
import numpy as np
a1=[1,2]
b1=[4,5]
a1=np.vstack((a1,b1))
print(a1)
#b=np.hstack((a1,b1))

#print(b1)

[[1 2]
 [4 5]]

In [52]:
import numpy as np
a1=[1,2]
b1=[4,5]
a1=np.hstack((a1,b1))
print(a1)

[1 2 4 5]

In [58]:
q=[[5,6],[2,3]]

print(np.sum(q,axis=0))
print(np.sum(q,axis=1))

[7 9]
[11  5]

In [59]:
import csv
Gender,Customer_Name,State, Product,Amount =[],[],[],[],[]
with open("sales.csv", "r") as file:
  reader =csv.reader(file)

  print(reader)

<_csv.reader object at 0x7e95b09baf80>

In [60]:
import csv
Gender,Customer_Name,State, Product,Amount =[],[],[],[],[]
with open("sales.csv", "r") as file:
  reader =csv.reader(file)
  x=list(reader)
  print(x)

[['Customer_ID', 'Customer_Name', 'Gender', 'State', 'Product', 'Amount', 'Date'], ['1', 'Antonio', 'Male', 'Karnataka', 'Shirt', '6591', '6/12/2025'], ['2', 'Dustin', 'Female', 'Punjab', 'Tablet', '14122', '10/6/2024'], ['3', 'Donald', 'Female', 'Maharashtra', 'Rings', '15149', '7/28/2025'], ['4', 'Victor', 'Female', 'Kerala', 'Watch', '30921', '1/22/2025'], ['5', 'Elizabeth', 'Female', 'Maharashtra', 'Shirt', '48459', '6/15/2025'], ['6', 'Tammy', 'Male', 'Punjab', 'Shoes', '30097', '4/18/2025'], ['7', 'Gabriel', 'Male', 'Maharashtra', 'Rings', '37692', '9/30/2025'], ['8', 'Crystal', 'Female', 'Tamil Nadu', 'Watch', '10292', '2/2/2025'], ['9', 'Jill', 'Male', 'UP', 'Phone', '19755', '2/18/2025'], ['10', 'Alexandra', 'Female', 'Karnataka', 'Shoes', '18121', '9/17/2025'], ['11', 'Erin', 'Female', 'Punjab', 'Camera', '916', '8/8/2025'], ['12', 'Jared', 'Male', 'Punjab', 'Camera', '20080', '8/18/2025'], ['13', 'George', 'Female', 'Tamil Nadu', 'Rings', '32687', '7/25/2025'], ['14', 'Nicholas', 'Female', 'Kerala', 'Watch', '9931', '8/12/2025'], ['15', 'Eric', 'Female', 'Karnataka', 'Shoes', '26468', '6/8/2025'], ['16', 'Miguel', 'Female', 'Tamil Nadu', 'Watch', '5181', '10/20/2024'], ['17', 'Erik', 'Female', 'Kerala', 'Tablet', '21953', '6/27/2025'], ['18', 'Kevin', 'Male', 'Gujarat', 'Purse', '17129', '5/15/2025'], ['19', 'Rebecca', 'Female', 'Delhi', 'Phone', '23664', '5/17/2025'], ['20', 'Jeffrey', 'Male', 'Tamil Nadu', 'Watch', '6401', '7/21/2025'], ['21', 'Darlene', 'Female', 'Punjab', 'Shoes', '19995', '10/25/2024'], ['22', 'Deborah', 'Female', 'Punjab', 'Shoes', '43765', '8/10/2025'], ['23', 'John', 'Male', 'Punjab', 'Shoes', '19568', '3/6/2025'], ['24', 'Michael', 'Female', 'Gujarat', 'Phone', '5699', '12/14/2024'], ['25', 'Kimberly', 'Female', 'Tamil Nadu', 'Headphone', '38382', '1/31/2025'], ['26', 'Brian', 'Male', 'Gujarat', 'Shoes', '46117', '5/24/2025'], ['27', 'Katherine', 'Male', 'Karnataka', 'Shirt', '39361', '3/15/2025'], ['28', 'Dana', 'Female', 'UP', 'Tablet', '32005', '5/4/2025'], ['29', 'Nathan', 'Female', 'Punjab', 'Watch', '45780', '11/23/2024'], ['30', 'Kayla', 'Female', 'Gujarat', 'Phone', '2343', '3/13/2025'], ['31', 'James', 'Female', 'UP', 'Shirt', '36440', '5/9/2025'], ['32', 'Michele', 'Female', 'Punjab', 'Rings', '37356', '4/8/2025'], ['33', 'Jason', 'Male', 'Punjab', 'Camera', '35250', '7/22/2025'], ['34', 'Christian', 'Female', 'Kerala', 'Shoes', '42928', '2/26/2025'], ['35', 'William', 'Male', 'Maharashtra', 'Rings', '3939', '5/6/2025'], ['36', 'Margaret', 'Female', 'Punjab', 'Shoes', '8088', '12/16/2024'], ['37', 'Travis', 'Female', 'Maharashtra', 'Headphone', '4650', '1/7/2025'], ['38', 'Matthew', 'Female', 'UP', 'Watch', '29147', '1/9/2025'], ['39', 'Gregory', 'Female', 'Karnataka', 'Purse', '7855', '6/8/2025'], ['40', 'Keith', 'Female', 'Karnataka', 'Shirt', '48029', '2/2/2025'], ['41', 'Maureen', 'Male', 'UP', 'Purse', '16999', '12/4/2024'], ['42', 'Tracy', 'Female', 'Karnataka', 'Watch', '37064', '2/11/2025'], ['43', 'Austin', 'Male', 'Maharashtra', 'Shoes', '6839', '11/9/2024'], ['44', 'Sandra', 'Male', 'Gujarat', 'Phone', '14755', '2/18/2025'], ['45', 'Bonnie', 'Male', 'Delhi', 'Laptop', '17678', '5/26/2025'], ['46', 'Darren', 'Male', 'Karnataka', 'Camera', '21551', '7/19/2025'], ['47', 'Jenna', 'Female', 'Delhi', 'Phone', '27731', '1/24/2025'], ['48', 'Nicole', 'Male', 'Maharashtra', 'Shirt', '25788', '1/25/2025'], ['49', 'Gabriel', 'Male', 'UP', 'Tablet', '6463', '4/9/2025'], ['50', 'Phyllis', 'Male', 'Gujarat', 'Phone', '48456', '3/2/2025'], ['51', 'Isaac', 'Female', 'Punjab', 'Watch', '14486', '6/24/2025'], ['52', 'Patrick', 'Male', 'Maharashtra', 'Tablet', '47551', '4/10/2025'], ['53', 'Kevin', 'Male', 'Delhi', 'Headphone', '40692', '8/10/2025'], ['54', 'Cameron', 'Male', 'Karnataka', 'Headphone', '2709', '7/26/2025'], ['55', 'Sean', 'Female', 'Kerala', 'Rings', '18634', '4/2/2025'], ['56', 'Julie', 'Male', 'Delhi', 'Rings', '20180', '3/20/2025'], ['57', 'Peggy', 'Female', 'Delhi', 'Shirt', '22188', '8/27/2025'], ['58', 'Erika', 'Male', 'Gujarat', 'Rings', '22881', '7/27/2025'], ['59', 'Deborah', 'Male', 'Karnataka', 'Tablet', '10550', '5/17/2025'], ['60', 'Robert', 'Female', 'Kerala', 'Headphone', '28364', '3/17/2025'], ['61', 'Jeffery', 'Female', 'Maharashtra', 'Headphone', '46421', '8/14/2025'], ['62', 'William', 'Female', 'Delhi', 'Purse', '7075', '7/30/2025'], ['63', 'John', 'Female', 'UP', 'Purse', '20439', '11/21/2024'], ['64', 'Arthur', 'Female', 'Gujarat', 'Headphone', '17424', '2/5/2025'], ['65', 'Eric', 'Female', 'Gujarat', 'Shoes', '34535', '8/16/2025'], ['66', 'Jennifer', 'Male', 'Tamil Nadu', 'Shoes', '24811', '7/8/2025'], ['67', 'Laura', 'Female', 'Kerala', 'Purse', '29172', '12/28/2024'], ['68', 'Mark', 'Female', 'Tamil Nadu', 'Shoes', '39176', '6/2/2025'], ['69', 'Robert', 'Female', 'UP', 'Purse', '34937', '7/18/2025'], ['70', 'Amy', 'Male', 'Gujarat', 'Shirt', '43032', '9/1/2025'], ['71', 'Elizabeth', 'Male', 'Punjab', 'Tablet', '14572', '9/16/2025'], ['72', 'David', 'Male', 'Punjab', 'Watch', '39923', '1/29/2025'], ['73', 'Dana', 'Female', 'Gujarat', 'Camera', '25738', '8/9/2025'], ['74', 'David', 'Male', 'UP', 'Shirt', '42375', '5/16/2025'], ['75', 'Elizabeth', 'Female', 'UP', 'Rings', '37766', '12/27/2024'], ['76', 'David', 'Male', 'Karnataka', 'Purse', '36022', '1/29/2025'], ['77', 'Jake', 'Female', 'Tamil Nadu', 'Shoes', '49580', '5/27/2025'], ['78', 'William', 'Male', 'Karnataka', 'Laptop', '38258', '10/10/2024'], ['79', 'Thomas', 'Male', 'UP', 'Camera', '23132', '3/8/2025'], ['80', 'Bradley', 'Female', 'Karnataka', 'Shirt', '5526', '11/21/2024'], ['81', 'Kendra', 'Male', 'Kerala', 'Rings', '21444', '5/5/2025'], ['82', 'Jasmine', 'Female', 'Punjab', 'Rings', '40141', '8/7/2025'], ['83', 'John', 'Female', 'UP', 'Tablet', '49832', '1/15/2025'], ['84', 'Tyler', 'Female', 'UP', 'Laptop', '27199', '4/11/2025'], ['85', 'Susan', 'Female', 'Tamil Nadu', 'Laptop', '28966', '7/8/2025'], ['86', 'Christopher', 'Female', 'Delhi', 'Camera', '12635', '5/30/2025'], ['87', 'Joseph', 'Female', 'Maharashtra', 'Tablet', '7829', '10/18/2024'], ['88', 'Kyle', 'Female', 'Kerala', 'Shoes', '28009', '4/13/2025'], ['89', 'Lindsey', 'Male', 'Punjab', 'Rings', '2128', '9/27/2025'], ['90', 'Timothy', 'Male', 'Gujarat', 'Rings', '13634', '5/31/2025'], ['91', 'Michael', 'Female', 'Maharashtra', 'Phone', '6470', '3/7/2025'], ['92', 'Ann', 'Female', 'Maharashtra', 'Tablet', '45432', '9/15/2025'], ['93', 'Robert', 'Female', 'UP', 'Tablet', '36153', '1/27/2025'], ['94', 'Lori', 'Female', 'Gujarat', 'Purse', '2940', '10/7/2024'], ['95', 'Kristina', 'Male', 'Punjab', 'Shoes', '37645', '8/28/2025'], ['96', 'Shane', 'Male', 'Maharashtra', 'Tablet', '10566', '9/8/2025'], ['97', 'Angela', 'Male', 'UP', 'Camera', '1279', '5/3/2025'], ['98', 'Joseph', 'Male', 'Maharashtra', 'Shoes', '46552', '1/17/2025'], ['99', 'Michelle', 'Male', 'Delhi', 'Camera', '31718', '9/11/2025'], ['100', 'Vicki', 'Male', 'Kerala', 'Shoes', '28689', '4/15/2025'], ['101', 'Terri', 'Female', 'Kerala', 'Rings', '29623', '7/15/2025'], ['102', 'Tammy', 'Male', 'Maharashtra', 'Purse', '12836', '4/10/2025'], ['103', 'Deborah', 'Female', 'Kerala', 'Watch', '9226', '8/30/2025'], ['104', 'Laura', 'Male', 'Delhi', 'Rings', '43115', '9/9/2025'], ['105', 'Carlos', 'Male', 'Gujarat', 'Camera', '44698', '2/19/2025'], ['106', 'Emily', 'Female', 'UP', 'Laptop', '43149', '6/7/2025'], ['107', 'Andrew', 'Male', 'UP', 'Watch', '36770', '8/30/2025'], ['108', 'Brittney', 'Male', 'Tamil Nadu', 'Headphone', '9381', '3/13/2025'], ['109', 'Patricia', 'Male', 'Delhi', 'Camera', '1069', '3/5/2025'], ['110', 'David', 'Male', 'Karnataka', 'Camera', '39693', '2/23/2025'], ['111', 'Michael', 'Male', 'Gujarat', 'Purse', '29035', '6/17/2025'], ['112', 'Angela', 'Male', 'Gujarat', 'Tablet', '7895', '3/24/2025'], ['113', 'David', 'Male', 'Kerala', 'Headphone', '8068', '3/6/2025'], ['114', 'Sandy', 'Male', 'Maharashtra', 'Purse', '24401', '3/10/2025'], ['115', 'Taylor', 'Male', 'Karnataka', 'Purse', '31432', '6/9/2025'], ['116', 'Andres', 'Female', 'Tamil Nadu', 'Purse', '573', '11/11/2024'], ['117', 'Jared', 'Female', 'Karnataka', 'Shoes', '20087', '7/29/2025'], ['118', 'Sara', 'Female', 'Delhi', 'Watch', '10550', '10/16/2024'], ['119', 'Joseph', 'Male', 'Gujarat', 'Tablet', '42143', '11/23/2024'], ['120', 'Benjamin', 'Female', 'Maharashtra', 'Shoes', '8471', '3/1/2025'], ['121', 'Thomas', 'Male', 'Punjab', 'Laptop', '22899', '2/10/2025'], ['122', 'Alexa', 'Female', 'Delhi', 'Phone', '25337', '2/6/2025'], ['123', 'Cameron', 'Female', 'Gujarat', 'Phone', '16991', '10/26/2024'], ['124', 'Charles', 'Female', 'Kerala', 'Purse', '8251', '5/21/2025'], ['125', 'Tina', 'Male', 'Karnataka', 'Shoes', '24164', '10/19/2024'], ['126', 'Jason', 'Female', 'UP', 'Shirt', '10871', '8/14/2025'], ['127', 'Shannon', 'Male', 'Maharashtra', 'Purse', '45457', '11/1/2024'], ['128', 'Alexandra', 'Male', 'Karnataka', 'Headphone', '42400', '9/2/2025'], ['129', 'Laura', 'Female', 'Delhi', 'Camera', '38254', '11/10/2024'], ['130', 'Gabriel', 'Male', 'Tamil Nadu', 'Purse', '28423', '5/21/2025'], ['131', 'William', 'Male', 'Karnataka', 'Laptop', '6506', '7/1/2025'], ['132', 'Kaitlin', 'Male', 'Maharashtra', 'Headphone', '37809', '8/5/2025'], ['133', 'Anthony', 'Female', 'Kerala', 'Rings', '39603', '8/7/2025'], ['134', 'Kevin', 'Male', 'Kerala', 'Phone', '3809', '6/6/2025'], ['135', 'Barbara', 'Male', 'Maharashtra', 'Camera', '1888', '9/19/2025'], ['136', 'Nicholas', 'Male', 'Punjab', 'Camera', '35221', '11/29/2024'], ['137', 'Peter', 'Male', 'Karnataka', 'Rings', '35189', '3/30/2025'], ['138', 'James', 'Male', 'UP', 'Rings', '30372', '7/17/2025'], ['139', 'Jared', 'Female', 'Karnataka', 'Purse', '3234', '12/6/2024'], ['140', 'Michael', 'Female', 'UP', 'Phone', '13147', '8/13/2025'], ['141', 'Jesus', 'Male', 'Delhi', 'Watch', '39708', '2/23/2025'], ['142', 'Haley', 'Male', 'Punjab', 'Tablet', '30264', '12/28/2024'], ['143', 'Kara', 'Male', 'Kerala', 'Purse', '712', '12/22/2024'], ['144', 'Jason', 'Female', 'Punjab', 'Laptop', '4050', '3/18/2025'], ['145', 'Richard', 'Female', 'Maharashtra', 'Shirt', '9993', '5/21/2025'], ['146', 'Judith', 'Male', 'Kerala', 'Phone', '46335', '12/27/2024'], ['147', 'Brittney', 'Male', 'Karnataka', 'Laptop', '26139', '3/22/2025'], ['148', 'Kelsey', 'Female', 'Punjab', 'Laptop', '21287', '3/28/2025'], ['149', 'David', 'Male', 'UP', 'Laptop', '32439', '3/25/2025'], ['150', 'Kelly', 'Male', 'Gujarat', 'Laptop', '844', '5/30/2025'], ['151', 'William', 'Female', 'Punjab', 'Camera', '10964', '2/15/2025'], ['152', 'Martha', 'Male', 'UP', 'Shoes', '25406', '11/19/2024'], ['153', 'Ashley', 'Female', 'Punjab', 'Shirt', '3688', '5/11/2025'], ['154', 'April', 'Female', 'Punjab', 'Phone', '13373', '11/6/2024'], ['155', 'Andrea', 'Female', 'Maharashtra', 'Laptop', '47731', '3/23/2025'], ['156', 'Lauren', 'Male', 'Delhi', 'Shoes', '11042', '5/25/2025'], ['157', 'Wesley', 'Male', 'Kerala', 'Watch', '6028', '11/14/2024'], ['158', 'Sarah', 'Female', 'Tamil Nadu', 'Rings', '6696', '4/22/2025'], ['159', 'Kaitlyn', 'Male', 'Karnataka', 'Laptop', '42509', '9/18/2025'], ['160', 'Scott', 'Male', 'Karnataka', 'Shirt', '30845', '12/24/2024'], ['161', 'Cheryl', 'Female', 'Tamil Nadu', 'Laptop', '39437', '8/2/2025'], ['162', 'Raven', 'Female', 'Maharashtra', 'Shirt', '19971', '3/20/2025'], ['163', 'Lori', 'Male', 'Maharashtra', 'Phone', '35066', '9/27/2025'], ['164', 'Sharon', 'Female', 'Gujarat', 'Laptop', '23328', '10/20/2024'], ['165', 'Michael', 'Female', 'Gujarat', 'Laptop', '20200', '2/24/2025'], ['166', 'Stacy', 'Male', 'Gujarat', 'Rings', '11270', '3/13/2025'], ['167', 'Angela', 'Female', 'Gujarat', 'Laptop', '41652', '10/10/2024'], ['168', 'Jessica', 'Male', 'Gujarat', 'Purse', '6435', '3/14/2025'], ['169', 'Ashley', 'Male', 'Kerala', 'Headphone', '29736', '12/4/2024'], ['170', 'Matthew', 'Male', 'Gujarat', 'Phone', '21095', '2/13/2025'], ['171', 'Melissa', 'Male', 'Gujarat', 'Camera', '21316', '8/6/2025'], ['172', 'Kevin', 'Male', 'UP', 'Phone', '32402', '8/15/2025'], ['173', 'Derrick', 'Female', 'UP', 'Rings', '44612', '3/23/2025'], ['174', 'Shannon', 'Female', 'UP', 'Watch', '17919', '7/22/2025'], ['175', 'Erin', 'Female', 'Punjab', 'Tablet', '49897', '9/20/2025'], ['176', 'Sarah', 'Female', 'Karnataka', 'Phone', '31965', '6/2/2025'], ['177', 'Matthew', 'Male', 'Tamil Nadu', 'Rings', '12397', '7/21/2025'], ['178', 'Phyllis', 'Female', 'Delhi', 'Tablet', '45086', '6/5/2025'], ['179', 'Kevin', 'Female', 'Gujarat', 'Camera', '26703', '11/30/2024'], ['180', 'Debra', 'Male', 'Punjab', 'Shoes', '28375', '8/14/2025'], ['181', 'Mitchell', 'Female', 'UP', 'Laptop', '41830', '1/22/2025'], ['182', 'Sandra', 'Female', 'Delhi', 'Tablet', '42782', '12/7/2024'], ['183', 'Karen', 'Female', 'Gujarat', 'Watch', '49807', '6/23/2025'], ['184', 'David', 'Female', 'Kerala', 'Laptop', '18168', '3/14/2025'], ['185', 'George', 'Male', 'Punjab', 'Camera', '32764', '9/4/2025'], ['186', 'Kristen', 'Male', 'Gujarat', 'Tablet', '8982', '3/9/2025'], ['187', 'Christopher', 'Female', 'UP', 'Phone', '41072', '11/8/2024'], ['188', 'Tony', 'Male', 'Delhi', 'Shirt', '22581', '2/3/2025'], ['189', 'Maria', 'Male', 'Karnataka', 'Watch', '9100', '12/16/2024'], ['190', 'Jacob', 'Female', 'Gujarat', 'Headphone', '28944', '8/27/2025'], ['191', 'Laurie', 'Male', 'Maharashtra', 'Rings', '33955', '6/19/2025'], ['192', 'Mark', 'Female', 'Maharashtra', 'Headphone', '42166', '6/16/2025'], ['193', 'Annette', 'Female', 'Kerala', 'Purse', '27231', '9/28/2025'], ['194', 'Brian', 'Male', 'Tamil Nadu', 'Shirt', '22171', '5/20/2025'], ['195', 'Aimee', 'Female', 'Delhi', 'Phone', '12188', '4/2/2025'], ['196', 'Lori', 'Male', 'Maharashtra', 'Laptop', '36224', '1/7/2025'], ['197', 'Mary', 'Male', 'Karnataka', 'Tablet', '10283', '7/2/2025'], ['198', 'Paul', 'Male', 'Kerala', 'Camera', '45820', '10/17/2024'], ['199', 'Megan', 'Male', 'Delhi', 'Laptop', '12674', '10/22/2024'], ['200', 'Pamela', 'Male', 'Punjab', 'Tablet', '29304', '6/30/2025'], ['201', 'Christina', 'Female', 'Maharashtra', 'Camera', '28292', '6/1/2025'], ['202', 'David', 'Male', 'Karnataka', 'Purse', '37275', '8/17/2025'], ['203', 'Tyler', 'Female', 'Tamil Nadu', 'Rings', '9857', '1/20/2025'], ['204', 'Sean', 'Male', 'Tamil Nadu', 'Rings', '45824', '2/28/2025'], ['205', 'Alan', 'Female', 'UP', 'Rings', '45749', '2/18/2025'], ['206', 'Suzanne', 'Male', 'Karnataka', 'Purse', '35624', '5/10/2025'], ['207', 'Kylie', 'Male', 'Tamil Nadu', 'Camera', '18841', '10/19/2024'], ['208', 'Brett', 'Female', 'Tamil Nadu', 'Tablet', '31308', '10/9/2024'], ['209', 'Taylor', 'Female', 'Kerala', 'Watch', '49856', '11/11/2024'], ['210', 'Amy', 'Male', 'Kerala', 'Shoes', '9331', '12/25/2024'], ['211', 'Kevin', 'Male', 'Kerala', 'Shoes', '33336', '1/9/2025'], ['212', 'Michael', 'Female', 'Maharashtra', 'Purse', '43093', '9/14/2025'], ['213', 'Paul', 'Male', 'Kerala', 'Headphone', '32895', '9/4/2025'], ['214', 'Kerry', 'Female', 'Tamil Nadu', 'Watch', '19762', '3/1/2025'], ['215', 'Melanie', 'Male', 'Kerala', 'Shirt', '36669', '2/3/2025'], ['216', 'Christina', 'Female', 'Punjab', 'Headphone', '24240', '8/14/2025'], ['217', 'Paul', 'Male', 'Gujarat', 'Headphone', '1808', '6/16/2025'], ['218', 'Jerry', 'Male', 'Maharashtra', 'Tablet', '27029', '6/27/2025'], ['219', 'Tammy', 'Female', 'UP', 'Tablet', '24635', '6/28/2025'], ['220', 'Antonio', 'Female', 'Gujarat', 'Camera', '40164', '7/21/2025'], ['221', 'Mark', 'Female', 'Delhi', 'Watch', '21955', '3/29/2025'], ['222', 'John', 'Female', 'Karnataka', 'Headphone', '36483', '8/19/2025'], ['223', 'Dawn', 'Female', 'Maharashtra', 'Phone', '35228', '8/5/2025'], ['224', 'Monica', 'Female', 'Karnataka', 'Tablet', '17724', '10/21/2024'], ['225', 'Robert', 'Male', 'UP', 'Rings', '44906', '10/25/2024'], ['226', 'Laurie', 'Male', 'Tamil Nadu', 'Watch', '31915', '9/9/2025'], ['227', 'Vincent', 'Male', 'Tamil Nadu', 'Laptop', '16285', '3/2/2025'], ['228', 'Nichole', 'Male', 'Gujarat', 'Headphone', '1672', '2/16/2025'], ['229', 'Dustin', 'Female', 'Tamil Nadu', 'Purse', '39539', '4/2/2025'], ['230', 'Megan', 'Male', 'Karnataka', 'Camera', '7808', '12/26/2024'], ['231', 'Mary', 'Male', 'Punjab', 'Shirt', '14905', '8/24/2025'], ['232', 'Shane', 'Male', 'Tamil Nadu', 'Shirt', '9174', '3/31/2025'], ['233', 'Jacob', 'Female', 'Maharashtra', 'Tablet', '27437', '10/14/2024'], ['234', 'Jeremiah', 'Female', 'Gujarat', 'Rings', '589', '7/10/2025'], ['235', 'Cory', 'Male', 'Gujarat', 'Phone', '9132', '7/21/2025'], ['236', 'Audrey', 'Female', 'Tamil Nadu', 'Shirt', '22030', '9/15/2025'], ['237', 'Desiree', 'Female', 'Punjab', 'Phone', '43585', '5/4/2025'], ['238', 'Kayla', 'Female', 'Tamil Nadu', 'Laptop', '27485', '4/16/2025'], ['239', 'Emily', 'Female', 'Karnataka', 'Laptop', '2896', '12/18/2024'], ['240', 'Brandon', 'Female', 'Maharashtra', 'Laptop', '25305', '7/2/2025'], ['241', 'Gary', 'Male', 'Delhi', 'Phone', '34983', '4/1/2025'], ['242', 'Nicholas', 'Male', 'Gujarat', 'Camera', '32013', '5/2/2025'], ['243', 'Victoria', 'Female', 'Karnataka', 'Shirt', '6944', '1/27/2025'], ['244', 'William', 'Female', 'Tamil Nadu', 'Laptop', '13146', '3/13/2025'], ['245', 'Dylan', 'Male', 'Karnataka', 'Shirt', '42123', '6/14/2025'], ['246', 'Melissa', 'Female', 'Karnataka', 'Headphone', '1070', '2/22/2025'], ['247', 'Robert', 'Male', 'Punjab', 'Camera', '31686', '6/8/2025'], ['248', 'Stephanie', 'Male', 'Tamil Nadu', 'Watch', '25560', '1/7/2025'], ['249', 'John', 'Female', 'UP', 'Shoes', '46939', '9/30/2025'], ['250', 'Kathryn', 'Male', 'Karnataka', 'Watch', '3834', '9/10/2025'], ['251', 'Ronald', 'Female', 'Karnataka', 'Shoes', '42168', '1/2/2025'], ['252', 'Gordon', 'Male', 'Karnataka', 'Camera', '4204', '2/13/2025'], ['253', 'Timothy', 'Male', 'Kerala', 'Shoes', '3923', '3/17/2025'], ['254', 'Elizabeth', 'Female', 'Maharashtra', 'Purse', '33842', '10/16/2024'], ['255', 'Richard', 'Female', 'Kerala', 'Purse', '29708', '2/20/2025'], ['256', 'Michelle', 'Female', 'Maharashtra', 'Phone', '42973', '8/30/2025'], ['257', 'Daniel', 'Male', 'Kerala', 'Headphone', '47050', '7/29/2025'], ['258', 'Christopher', 'Male', 'Delhi', 'Shirt', '35812', '5/11/2025'], ['259', 'Edward', 'Male', 'Karnataka', 'Rings', '21675', '12/7/2024'], ['260', 'Kristy', 'Female', 'Gujarat', 'Camera', '49698', '5/14/2025'], ['261', 'Amber', 'Female', 'Gujarat', 'Purse', '8878', '11/21/2024'], ['262', 'Craig', 'Male', 'Karnataka', 'Tablet', '19832', '4/25/2025'], ['263', 'Jodi', 'Male', 'Maharashtra', 'Purse', '40743', '8/4/2025'], ['264', 'Diane', 'Female', 'Maharashtra', 'Shoes', '45812', '6/4/2025'], ['265', 'Mary', 'Male', 'Kerala', 'Laptop', '6184', '7/7/2025'], ['266', 'Sara', 'Male', 'UP', 'Purse', '20442', '5/10/2025'], ['267', 'Erin', 'Male', 'Delhi', 'Rings', '40222', '8/14/2025'], ['268', 'Lawrence', 'Male', 'Delhi', 'Headphone', '46699', '4/6/2025'], ['269', 'Suzanne', 'Female', 'Maharashtra', 'Shoes', '22187', '5/11/2025'], ['270', 'James', 'Male', 'Maharashtra', 'Rings', '17151', '1/13/2025'], ['271', 'Brittany', 'Male', 'UP', 'Camera', '30652', '1/27/2025'], ['272', 'Janice', 'Female', 'Karnataka', 'Camera', '19927', '6/22/2025'], ['273', 'Shannon', 'Male', 'Gujarat', 'Shoes', '17502', '3/27/2025'], ['274', 'Samantha', 'Male', 'Tamil Nadu', 'Shoes', '27444', '8/22/2025'], ['275', 'Jody', 'Male', 'Kerala', 'Purse', '19771', '9/26/2025'], ['276', 'Michelle', 'Female', 'Gujarat', 'Shirt', '31571', '5/26/2025'], ['277', 'Nicholas', 'Male', 'Kerala', 'Tablet', '28396', '7/11/2025'], ['278', 'Joshua', 'Female', 'Karnataka', 'Camera', '8989', '4/1/2025'], ['279', 'Wanda', 'Female', 'Karnataka', 'Tablet', '12522', '6/16/2025'], ['280', 'Jasmine', 'Female', 'Tamil Nadu', 'Laptop', '29188', '1/30/2025'], ['281', 'Tanner', 'Male', 'Tamil Nadu', 'Rings', '9640', '6/9/2025'], ['282', 'Deanna', 'Female', 'Maharashtra', 'Phone', '38790', '8/22/2025'], ['283', 'Richard', 'Male', 'Gujarat', 'Purse', '19044', '2/8/2025'], ['284', 'Ashley', 'Female', 'Maharashtra', 'Camera', '2209', '2/17/2025'], ['285', 'Monica'

In [70]:
import csv

Gender,Customer_Name,State, Product,Amount =[],[],[],[],[]
with open("sales.csv", "r") as file:
  reader =csv.reader(file)

  header = next(reader)
  for row in reader:
   State.append(row[3])
   Amount.append(row[5])
   Product.append(row[4])
  print(State)
  print(Amount)
  print(Product)

['Karnataka', 'Punjab', 'Maharashtra', 'Kerala', 'Maharashtra', 'Punjab', 'Maharashtra', 'Tamil Nadu', 'UP', 'Karnataka', 'Punjab', 'Punjab', 'Tamil Nadu', 'Kerala', 'Karnataka', 'Tamil Nadu', 'Kerala', 'Gujarat', 'Delhi', 'Tamil Nadu', 'Punjab', 'Punjab', 'Punjab', 'Gujarat', 'Tamil Nadu', 'Gujarat', 'Karnataka', 'UP', 'Punjab', 'Gujarat', 'UP', 'Punjab', 'Punjab', 'Kerala', 'Maharashtra', 'Punjab', 'Maharashtra', 'UP', 'Karnataka', 'Karnataka', 'UP', 'Karnataka', 'Maharashtra', 'Gujarat', 'Delhi', 'Karnataka', 'Delhi', 'Maharashtra', 'UP', 'Gujarat', 'Punjab', 'Maharashtra', 'Delhi', 'Karnataka', 'Kerala', 'Delhi', 'Delhi', 'Gujarat', 'Karnataka', 'Kerala', 'Maharashtra', 'Delhi', 'UP', 'Gujarat', 'Gujarat', 'Tamil Nadu', 'Kerala', 'Tamil Nadu', 'UP', 'Gujarat', 'Punjab', 'Punjab', 'Gujarat', 'UP', 'UP', 'Karnataka', 'Tamil Nadu', 'Karnataka', 'UP', 'Karnataka', 'Kerala', 'Punjab', 'UP', 'UP', 'Tamil Nadu', 'Delhi', 'Maharashtra', 'Kerala', 'Punjab', 'Gujarat', 'Maharashtra', 'Maharashtra', 'UP', 'Gujarat', 'Punjab', 'Maharashtra', 'UP', 'Maharashtra', 'Delhi', 'Kerala', 'Kerala', 'Maharashtra', 'Kerala', 'Delhi', 'Gujarat', 'UP', 'UP', 'Tamil Nadu', 'Delhi', 'Karnataka', 'Gujarat', 'Gujarat', 'Kerala', 'Maharashtra', 'Karnataka', 'Tamil Nadu', 'Karnataka', 'Delhi', 'Gujarat', 'Maharashtra', 'Punjab', 'Delhi', 'Gujarat', 'Kerala', 'Karnataka', 'UP', 'Maharashtra', 'Karnataka', 'Delhi', 'Tamil Nadu', 'Karnataka', 'Maharashtra', 'Kerala', 'Kerala', 'Maharashtra', 'Punjab', 'Karnataka', 'UP', 'Karnataka', 'UP', 'Delhi', 'Punjab', 'Kerala', 'Punjab', 'Maharashtra', 'Kerala', 'Karnataka', 'Punjab', 'UP', 'Gujarat', 'Punjab', 'UP', 'Punjab', 'Punjab', 'Maharashtra', 'Delhi', 'Kerala', 'Tamil Nadu', 'Karnataka', 'Karnataka', 'Tamil Nadu', 'Maharashtra', 'Maharashtra', 'Gujarat', 'Gujarat', 'Gujarat', 'Gujarat', 'Gujarat', 'Kerala', 'Gujarat', 'Gujarat', 'UP', 'UP', 'UP', 'Punjab', 'Karnataka', 'Tamil Nadu', 'Delhi', 'Gujarat', 'Punjab', 'UP', 'Delhi', 'Gujarat', 'Kerala', 'Punjab', 'Gujarat', 'UP', 'Delhi', 'Karnataka', 'Gujarat', 'Maharashtra', 'Maharashtra', 'Kerala', 'Tamil Nadu', 'Delhi', 'Maharashtra', 'Karnataka', 'Kerala', 'Delhi', 'Punjab', 'Maharashtra', 'Karnataka', 'Tamil Nadu', 'Tamil Nadu', 'UP', 'Karnataka', 'Tamil Nadu', 'Tamil Nadu', 'Kerala', 'Kerala', 'Kerala', 'Maharashtra', 'Kerala', 'Tamil Nadu', 'Kerala', 'Punjab', 'Gujarat', 'Maharashtra', 'UP', 'Gujarat', 'Delhi', 'Karnataka', 'Maharashtra', 'Karnataka', 'UP', 'Tamil Nadu', 'Tamil Nadu', 'Gujarat', 'Tamil Nadu', 'Karnataka', 'Punjab', 'Tamil Nadu', 'Maharashtra', 'Gujarat', 'Gujarat', 'Tamil Nadu', 'Punjab', 'Tamil Nadu', 'Karnataka', 'Maharashtra', 'Delhi', 'Gujarat', 'Karnataka', 'Tamil Nadu', 'Karnataka', 'Karnataka', 'Punjab', 'Tamil Nadu', 'UP', 'Karnataka', 'Karnataka', 'Karnataka', 'Kerala', 'Maharashtra', 'Kerala', 'Maharashtra', 'Kerala', 'Delhi', 'Karnataka', 'Gujarat', 'Gujarat', 'Karnataka', 'Maharashtra', 'Maharashtra', 'Kerala', 'UP', 'Delhi', 'Delhi', 'Maharashtra', 'Maharashtra', 'UP', 'Karnataka', 'Gujarat', 'Tamil Nadu', 'Kerala', 'Gujarat', 'Kerala', 'Karnataka', 'Karnataka', 'Tamil Nadu', 'Tamil Nadu', 'Maharashtra', 'Gujarat', 'Maharashtra', 'Punjab', 'Delhi', 'Kerala', 'UP', 'Delhi', 'Punjab', 'Tamil Nadu', 'Punjab', 'Tamil Nadu', 'Tamil Nadu', 'Gujarat', 'Maharashtra', 'UP', 'Punjab', 'Punjab', 'UP', 'Kerala', 'Karnataka', 'Maharashtra', 'Kerala', 'UP', 'Maharashtra', 'Tamil Nadu', 'Tamil Nadu', 'Delhi', 'Gujarat', 'Punjab', 'Gujarat', 'Punjab', 'Gujarat', 'Delhi', 'Kerala', 'UP', 'Karnataka', 'Delhi', 'Tamil Nadu', 'Karnataka', 'Karnataka', 'Maharashtra', 'Gujarat', 'Gujarat', 'Punjab', 'Gujarat', 'Karnataka', 'Kerala', 'Gujarat', 'Kerala', 'Punjab', 'Karnataka', 'Punjab', 'Kerala', 'Gujarat', 'Tamil Nadu', 'Maharashtra', 'Karnataka', 'Delhi', 'Tamil Nadu', 'Maharashtra', 'Karnataka', 'Delhi', 'Kerala', 'Kerala', 'Gujarat', 'Delhi', 'Gujarat', 'Maharashtra', 'UP', 'Tamil Nadu', 'UP', 'Tamil Nadu', 'UP', 'UP', 'Gujarat', 'Maharashtra', 'UP', 'Maharashtra', 'Kerala', 'Karnataka', 'UP', 'UP', 'UP', 'Tamil Nadu', 'UP', 'UP', 'Gujarat', 'Gujarat', 'Karnataka', 'Gujarat', 'Kerala', 'Karnataka', 'UP', 'Maharashtra', 'Punjab', 'Tamil Nadu', 'Delhi', 'Tamil Nadu', 'UP', 'Tamil Nadu', 'Karnataka', 'UP', 'Kerala', 'Delhi', 'Delhi', 'Tamil Nadu', 'UP', 'Karnataka', 'UP', 'Karnataka', 'Delhi', 'Maharashtra', 'Kerala', 'Kerala', 'Maharashtra', 'Tamil Nadu', 'Kerala', 'Gujarat', 'Punjab', 'Punjab', 'Delhi', 'Punjab', 'Delhi', 'Delhi', 'Maharashtra', 'Gujarat', 'Karnataka', 'Tamil Nadu', 'Tamil Nadu', 'Punjab', 'Gujarat', 'Kerala', 'Delhi', 'Gujarat', 'Punjab', 'Karnataka', 'Maharashtra', 'Delhi', 'Karnataka', 'Maharashtra', 'UP', 'UP', 'Delhi', 'Kerala', 'Delhi', 'Karnataka', 'Karnataka', 'Maharashtra', 'Kerala', 'Gujarat', 'Punjab', 'Punjab', 'Kerala', 'UP', 'Tamil Nadu', 'UP', 'Delhi', 'Maharashtra', 'Maharashtra', 'Kerala', 'Maharashtra', 'Karnataka', 'Kerala', 'Maharashtra', 'Maharashtra', 'Tamil Nadu', 'Maharashtra', 'Maharashtra', 'Punjab', 'Karnataka', 'Kerala', 'Punjab', 'Maharashtra', 'Gujarat', 'Maharashtra', 'Delhi', 'Kerala', 'Delhi', 'Karnataka', 'Kerala', 'Karnataka', 'Gujarat', 'Tamil Nadu', 'Karnataka', 'Kerala', 'Tamil Nadu', 'Delhi', 'Gujarat', 'Maharashtra', 'Delhi', 'Karnataka', 'Karnataka', 'UP', 'Maharashtra', 'Kerala', 'Delhi', 'UP', 'Punjab', 'Gujarat', 'Kerala', 'Punjab', 'Maharashtra', 'Gujarat', 'Maharashtra', 'Kerala', 'Kerala', 'Karnataka', 'Delhi', 'Maharashtra', 'Maharashtra', 'Punjab', 'Gujarat', 'Tamil Nadu', 'UP', 'Karnataka', 'Tamil Nadu', 'Delhi', 'Karnataka', 'Gujarat', 'UP', 'Tamil Nadu', 'Punjab', 'Tamil Nadu', 'UP', 'Delhi', 'Punjab', 'Maharashtra', 'Delhi', 'Kerala', 'Kerala', 'Delhi', 'UP', 'Karnataka', 'UP', 'Kerala', 'Gujarat', 'Punjab', 'Punjab', 'Kerala', 'Kerala', 'Delhi', 'Tamil Nadu', 'Delhi', 'Maharashtra', 'Gujarat', 'Tamil Nadu', 'Punjab', 'Kerala', 'Kerala', 'Punjab', 'Punjab', 'Gujarat', 'Maharashtra', 'Karnataka', 'Kerala', 'Punjab', 'Maharashtra', 'Kerala', 'Tamil Nadu', 'Gujarat', 'Karnataka', 'Maharashtra', 'Karnataka', 'UP', 'Gujarat', 'Punjab', 'Tamil Nadu', 'Punjab', 'UP', 'UP', 'Gujarat', 'Kerala', 'Punjab', 'Punjab', 'Kerala', 'Gujarat', 'Karnataka', 'Karnataka', 'Karnataka', 'Kerala', 'UP', 'Maharashtra', 'Maharashtra', 'Karnataka', 'Punjab', 'Maharashtra', 'Maharashtra', 'Karnataka', 'Delhi', 'Delhi', 'Kerala', 'Kerala', 'Gujarat', 'Tamil Nadu', 'Maharashtra', 'UP', 'Karnataka', 'Gujarat', 'Kerala', 'Delhi', 'UP', 'Punjab', 'Gujarat', 'Karnataka', 'Maharashtra', 'Tamil Nadu', 'Punjab', 'Kerala', 'UP', 'Punjab', 'Tamil Nadu', 'Maharashtra', 'Kerala', 'Tamil Nadu', 'Delhi', 'Karnataka', 'Maharashtra', 'Gujarat', 'Kerala', 'Gujarat', 'Tamil Nadu', 'Karnataka', 'Gujarat', 'Gujarat', 'Gujarat', 'Delhi', 'Gujarat', 'Punjab', 'Delhi', 'Kerala', 'Maharashtra', 'Kerala', 'Tamil Nadu', 'Karnataka', 'Punjab', 'Tamil Nadu', 'Karnataka', 'Delhi', 'Delhi', 'Tamil Nadu', 'Delhi', 'Delhi', 'Tamil Nadu', 'Kerala', 'Maharashtra', 'Karnataka', 'Karnataka', 'Kerala', 'UP', 'Punjab', 'UP', 'Maharashtra', 'Maharashtra', 'Maharashtra', 'Delhi', 'Maharashtra', 'Maharashtra', 'Punjab', 'UP', 'UP', 'Tamil Nadu', 'Punjab', 'Punjab', 'Punjab', 'Gujarat', 'Punjab', 'Gujarat', 'Tamil Nadu', 'Punjab', 'Punjab', 'UP', 'UP', 'Maharashtra', 'Delhi', 'Delhi', 'Maharashtra', 'Gujarat', 'Gujarat', 'Tamil Nadu', 'Punjab', 'Maharashtra', 'Kerala', 'Delhi', 'Gujarat', 'Tamil Nadu', 'Karnataka', 'Karnataka', 'Karnataka', 'Tamil Nadu', 'Punjab', 'UP', 'Delhi', 'Gujarat', 'Punjab', 'Maharashtra', 'Delhi', 'Gujarat', 'Delhi', 'Punjab', 'UP', 'UP', 'Gujarat', 'Gujarat', 'Gujarat', 'Gujarat', 'Punjab', 'Gujarat', 'Karnataka', 'UP', 'Kerala', 'Punjab', 'Maharashtra', 'Tamil Nadu', 'Gujarat', 'UP', 'Tamil Nadu', 'Punjab', 'Kerala', 'Karnataka', 'Karnataka', 'Tamil Nadu', 'Maharashtra', 'UP', 'Delhi', 'Maharashtra', 'Gujarat', 'Maharashtra', 'Karnataka', 'Tamil Nadu', 'Punjab', 'Karnataka', 'Kerala', 'Gujarat', 'Karnataka', 'Delhi', 'Punjab', 'UP', 'UP', 'Maharashtra', 'Maharashtra', 'Karnataka', 'Delhi', 'Delhi', 'Punjab', 'Kerala', 'Gujarat', 'Tamil Nadu', 'Delhi', 'Gujarat', 'UP', 'Gujarat', 'Gujarat', 'Maharashtra', 'UP', 'Maharashtra', 'Gujarat', 'Karnataka', 'Karnataka', 'Maharashtra', 'Kerala', 'Punjab', 'Delhi', 'Punjab', 'Maharashtra', 'Kerala', 'Punjab', 'Tamil Nadu', 'UP', 'UP', 'Punjab', 'Maharashtra', 'Delhi', 'Delhi', 'Punjab', 'Gujarat', 'Gujarat', 'Gujarat', 'UP', 'UP', 'Gujarat', 'Maharashtra', 'Punjab', 'Maharashtra', 'Delhi', 'Kerala', 'Punjab', 'Kerala', 'Maharashtra', 'Karnataka', 'Maharashtra', 'Maharashtra', 'Tamil Nadu', 'Delhi', 'Kerala', 'Delhi', 'Delhi', 'Kerala', 'Kerala', 'Punjab', 'Punjab', 'Tamil Nadu', 'Kerala', 'Delhi', 'UP', 'Gujarat', 'Maharashtra', 'Gujarat', 'UP', 'Maharashtra', 'Maharashtra', 'Maharashtra', 'Maharashtra', 'Kerala', 'Punjab', 'Delhi', 'UP', 'Kerala', 'Karnataka', 'Delhi', 'Maharashtra', 'Punjab', 'Karnataka', 'Kerala', 'Maharashtra', 'Kerala', 'Punjab', 'Maharashtra', 'Tamil Nadu', 'Maharashtra', 'Maharashtra', 'Punjab', 'Tamil Nadu', 'UP', 'Gujarat', 'UP', 'Maharashtra', 'Tamil Nadu', 'Tamil Nadu', 'Punjab', 'Delhi', 'Punjab', 'Delhi', 'Karnataka', 'Maharashtra', 'Delhi', 'Delhi', 'Punjab', 'Tamil Nadu', 'Punjab', 'Tamil Nadu', 'Tamil Nadu', 'Tamil Nadu', 'Punjab', 'Punjab', 'Delhi', 'Punjab', 'Maharashtra', 'Delhi', 'Kerala', 'Maharashtra', 'Delhi', 'Tamil Nadu', 'Maharashtra', 'Tamil Nadu', 'Punjab', 'Punjab', 'Tamil Nadu', 'Tamil Nadu', 'Delhi', 'Gujarat', 'Maharashtra', 'Gujarat', 'Maharashtra', 'Kerala', 'Tamil Nadu', 'Karnataka', 'Maharashtra', 'Karnataka', 'Karnataka', 'Kerala', 'Karnataka', 'Tamil Nadu', 'Maharashtra', 'UP', 'Delhi', 'UP', 'Delhi', 'Delhi', 'Kerala', 'Tamil Nadu', 'Karnataka', 'Maharashtra', 'Tamil Nadu', 'Karnataka', 'Kerala', 'Kerala', 'Tamil Nadu', 'Kerala', 'UP', 'Tamil Nadu', 'Karnataka', 'Kerala', 'Maharashtra', 'Karnataka', 'Maharashtra', 'Gujarat', 'Delhi', 'Maharashtra', 'Maharashtra', 'Kerala', 'Maharashtra', 'Gujarat', 'Gujarat', 'UP', 'Karnataka', 'UP', 'Kerala', 'Delhi', 'UP', 'Punjab', 'Karnataka', 'Karnataka', 'Punjab', 'Maharashtra', 'Punjab', 'Delhi', 'Kerala', 'Tamil Nadu', 'Karnataka', 'Gujarat', 'Karnataka', 'Tamil Nadu', 'Maharashtra', 'Delhi', 'Gujarat', 'Gujarat', 'Tamil Nadu', 'Maharashtra', 'Kerala', 'Tamil Nadu', 'Gujarat', 'Punjab', 'Maharashtra', 'Gujarat', 'UP', 'Kerala', 'Delhi', 'Tamil Nadu', 'UP', 'Punjab', 'Karnataka', 'Maharashtra', 'Punjab', 'Karnataka', 'Kerala', 'Tamil Nadu', 'Punjab', 'Kerala', 'Delhi', 'Gujarat', 'Kerala', 'UP', 'Gujarat', 'Delhi', 'Gujarat', 'Tamil Nadu', 'Karnataka', 'Gujarat', 'Gujarat', 'Maharashtra', 'Maharashtra', 'Delhi', 'Maharashtra', 'Karnataka', 'Maharashtra', 'Punjab', 'Gujarat', 'Kerala', 'Kerala', 'Delhi', 'UP', 'Kerala', 'Maharashtra', 'Delhi', 'Gujarat', 'UP', 'Maharashtra', 'Maharashtra', 'Punjab', 'Punjab', 'UP', 'Punjab', 'Kerala', 'Tamil Nadu', 'Karnataka', 'Gujarat', 'Tamil Nadu', 'Kerala', 'Delhi', 'Karnataka', 'Karnataka', 'Maharashtra', 'Delhi', 'Maharashtra', 'Maharashtra', 'Maharashtra', 'Tamil Nadu', 'UP', 'Delhi', 'Punjab', 'Kerala', 'Maharashtra', 'UP', 'Kerala', 'Karnataka', 'Gujarat', 'Gujarat', 'Punjab']
['6591', '14122', '15149', '30921', '48459', '30097', '37692', '10292', '19755', '18121', '916', '20080', '32687', '9931', '26468', '5181', '21953', '17129', '23664', '6401', '19995', '43765', '19568', '5699', '38382', '46117', '39361', '32005', '45780', '2343', '36440', '37356', '35250', '42928', '3939', '8088', '4650', '29147', '7855', '48029', '16999', '37064', '6839', '14755', '17678', '21551', '27731', '25788', '6463', '48456', '14486', '47551', '40692', '2709', '18634', '20180', '22188', '22881', '10550', '28364', '46421', '7075', '20439', '17424', '34535', '24811', '29172', '39176', '34937', '43032', '14572', '39923', '25738', '42375', '37766', '36022', '49580', '38258', '23132', '5526', '21444', '40141', '49832', '27199', '28966', '12635', '7829', '28009', '2128', '13634', '6470', '45432', '36153', '2940', '37645', '10566', '1279', '46552', '31718', '28689', '29623', '12836', '9226', '43115', '44698', '43149', '36770', '9381', '1069', '39693', '29035', '7895', '8068', '24401', '31432', '573', '20087', '10550', '42143', '8471', '22899', '25337', '16991', '8251', '24164', '10871', '45457', '42400', '38254', '28423', '6506', '37809', '39603', '3809', '1888', '35221', '35189', '30372', '3234', '13147', '39708', '30264', '712', '4050', '9993', '46335', '26139', '21287', '32439', '844', '10964', '25406', '3688', '13373', '47731', '11042', '6028', '6696', '42509', '30845', '39437', '19971', '35066', '23328', '20200', '11270', '41652', '6435', '29736', '21095', '21316', '32402', '44612', '17919', '49897', '31965', '12397', '45086', '26703', '28375', '41830', '42782', '49807', '18168', '32764', '8982', '41072', '22581', '9100', '28944', '33955', '42166', '27231', '22171', '12188', '36224', '10283', '45820', '12674', '29304', '28292', '37275', '9857', '45824', '45749', '35624', '18841', '31308', '49856', '9331', '33336', '43093', '32895', '19762', '36669', '24240', '1808', '27029', '24635', '40164', '21955', '36483', '35228', '17724', '44906', '31915', '16285', '1672', '39539', '7808', '14905', '9174', '27437', '589', '9132', '22030', '43585', '27485', '2896', '25305', '34983', '32013', '6944', '13146', '42123', '1070', '31686', '25560', '46939', '3834', '42168', '4204', '3923', '33842', '29708', '42973', '47050', '35812', '21675', '49698', '8878', '19832', '40743', '45812', '6184', '20442', '40222', '46699', '22187', '17151', '30652', '19927', '17502', '27444', '19771', '31571', '28396', '8989', '12522', '29188', '9640', '38790', '19044', '2209', '27280', '36124', '33821', '1462', '28198', '8465', '49504', '27726', '48727', '21726', '22913', '49551', '8929', '34282', '6908', '33316', '3533', '27137', '48000', '7115', '18511', '17402', '43019', '31473', '20872', '38919', '2947', '13066', '19773', '44136', '44311', '28206', '40525', '31687', '37006', '34291', '25419', '45563', '11203', '49793', '35882', '42084', '46293', '37788', '22800', '37947', '6644', '49224', '3026', '23664', '24123', '4425', '1045', '43224', '47853', '34843', '19461', '23740', '13288', '32728', '43517', '41600', '2873', '16402', '41248', '47337', '14929', '42377', '2640', '21143', '1905', '45022', '1664', '37124', '14116', '49682', '32130', '39482', '44089', '19103', '19861', '25350', '13661', '8000', '12213', '23796', '24015', '26486', '5862', '24067', '6091', '11772', '32222', '31448', '41760', '32044', '10766', '31874', '12039', '38380', '5164', '12586', '5012', '44499', '47735', '47469', '18657', '3486', '8792', '7277', '23612', '19222', '16277', '30795', '9896', '45590', '47626', '25546', '20519', '9393', '46174', '4243', '45802', '34354', '44993', '13704', '26072', '24884', '18092', '27172', '15179', '36936', '29269', '41428', '44182', '22305', '44148', '43353', '31088', '23197', '48304', '41792', '8366', '7426', '12405', '32133', '27086', '22296', '40233', '6411', '43770', '13661', '22417', '34511', '15438', '44551', '3344', '38518', '6035', '18041', '39131', '8137', '39740', '24047', '35285', '24434', '43140', '24603', '27181', '22203', '49104', '48547', '9744', '36293', '36746', '40195', '44445', '18235', '8442', '43118', '46032', '26654', '48804', '6267', '29442', '23576', '9513', '13308', '10429', '33553', '33607', '8766', '15629', '17613', '45894', '27681', '28123', '46493', '19589', '1794', '1425', '24144', '16417', '2115', '6535', '13175', '49898', '36715', '31249', '25641', '22338', '34736', '5691', '45858', '33647', '43045', '31162', '14394', '22059', '38514', '14931', '46105', '6163', '33490', '3683', '36374', '3967', '49710', '19397', '28430', '19983', '14938', '23404', '26196', '47850', '34510', '15127', '7415', '46068', '39239', '19714', '11131', '28681', '15374', '31508', '11078', '37162', '46882', '37431', '20969', '17933', '17188', '24098', '6652', '24068', '13958', '9866', '25614', '29796', '16501', '42483', '21711', '5304', '16615', '15373', '5067', '14873', '1018', '15990', '29998', '17893', '12872', '47624', '41052', '5015', '31076', '5107', '24887', '9115', '27909', '6603', '16285', '24682', '24156', '28386', '4854', '38986', '3029', '47038', '47882', '5364', '35917', '31368', '26977', '42780', '11256', '10741', '10354', '47961', '38327', '36520', '22571', '46168', '19047', '7645', '19667', '35645', '39458', '3471', '27126', '49110', '11016', '26819', '47509', '28999', '25488', '1202', '8771', '36562', '23210', '46113', '26325', '11692', '43125', '40520', '5670', '39860', '21722', '13083', '32939', '33699', '8544', '2867', '1891', '22088', '24522', '38023', '43940', '32964', '27080', '3388', '26111', '46369', '43452', '13188', '36507', '21261', '32151', '41979', '7250', '8356', '34674', '33836', '21550', '596', '33233', '36500', '44766', '3755', '5711', '23417', '7359', '46923', '22862', '29127', '39016', '6827', '3659', '38964', '11446', '11932', '18933', '10803', '5633', '12323', '20556', '39785', '35636', '22457', '37416', '29652', '14526', '36361', '13010', '5025', '24090', '27808', '27492', '25748', '22709', '34376', '36983', '38923', '4872', '46054', '8064', '1453', '35013', '1182', '16788', '35455', '44605', '39074', '10029', '22500', '34849', '12591', '14919', '7549', '18030', '45701', '27288', '30905', '37544', '24317', '39383', '26785', '21077', '17832', '6339', '16708', '7259', '42868', '39770', '12449', '31851', '18429', '1700', '20674', '15476', '25387', '36810', '16097', '4657', '44551', '8515', '23326', '34845', '11136', '1867', '33531', '1356', '3297', '12714', '18177', '1930', '37371', '39319', '2645', '19802', '11560', '7186', '2485', '42761', '47640', '45865', '45419', '29659', '2565', '24337', '11946', '24883', '3919', '48964', '47091', '47690', '23874', '22292', '1171', '40827', '34658', '22496', '32319', '7778', '35522', '13116', '11298', '41970', '1655', '17239', '38663', '18152', '33318', '31346', '24048', '7699', '33159', '3280', '4431', '20522', '16063', '34675', '45667', '35885', '29653', '25487', '36762', '37130', '14142', '48358', '46950', '45569', '37631', '20280', '36627', '15663', '37303', '48695', '11047', '32798', '12101', '33682', '7395', '9396', '31749', '19704', '5917', '33586', '25118', '39172', '39184', '26093', '7612', '25180', '46242', '31800', '19065', '9111', '13297', '41722', '7052', '15525', '25060', '10149', '11985', '20368', '8541', '8187', '23291', '28809', '18206', '7445', '35836', '4426', '28761', '39682', '18631', '6671', '41355', '11133', '16442', '2262', '40280', '18023', '20041', '37608', '10925', '37194', '34288', '21469', '42505', '26614', '43493', '12505', '3571', '18664', '25794', '4504', '43705', '8563', '4739', '37941', '26370', '49232', '9297', '1984', '22966', '34400', '25030', '45735', '19965', '27378', '4490', '11278', '6349', '41191', '1025', '14957', '27075', '9748', '47673', '3187', '2754', '5612', '23272', '43935', '44637', '7328', '3049', '33779', '45376', '43861', '12252', '20006', '15729', '22120', '38926', '38903', '42258', '22185', '32155', '28067', '20988', '15085', '11660', '48258', '11284', '46229', '36377', '42103', '5216', '30323', '23926', '31583', '41278', '29647', '22585', '37231', '48005', '28843', '32507', '9231', '38410', '18548', '48286', '11410', '21461', '12221', '34861', '40580', '27309', '3237', '11489', '13216', '23914', '44504', '5145', '27015', '41025', '13245', '46593', '33546', '27254', '523', '44372', '28103', '23156', '40105', '24950', '19736', '1178', '17629', '5358', '40175', '5861', '25086', '30412', '46890', '887', '18793', '35382', '27594', '45751', '37395', '41743', '43062', '4641', '13240', '36903', '36945', '34887', '25227', '25451', '45734', '5366', '25714', '41826', '13577', '27797', '43548', '46134', '26340', '35153', '32216', '26631', '7144', '10974', '30960', '36616', '3814', '5390', '22457', '1099', '3257', '39494', '20648', '41250', '28029', '23255', '43753', '13638', '41058', '20739', '919', '26065', '5771']