<a href="https://colab.research.google.com/github/alphasinghsingh/Data_Science/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n =int(input("\n enter the number upto which sum of odd numbers sum is required:"))
s = 0
for i in range(1 , n+1 ) :
 s = s+ 2*i-1
print("\n desire sum of odd numbers=", s)

 enter the number upto which sum of odd numbers sum is required:5

 desire sum of odd numbers= 25

In [ ]:
name="humhekaun"
print(name[:])

humhekaun

In [ ]:

x="    mens are simple  "
x.strip()

'mens are simple'

In [ ]:
a="I am ok"
a.replace('I','U')

'U am ok'

In [ ]:
y="mens are simple"
y.startswith('m')

True

In [ ]:
z="hello india"
z.endswith('e')

False

In [ ]:
#list

a=[5,6,7,8,9]
print(a[0])
print(a)
print(a[4])
print(a[1]+a[4])
a.append(10)
print(a)

5
[5, 6, 7, 8, 9]
9
15
[5, 6, 7, 8, 9, 10]

In [ ]:
#using length
a=[200,500,400,300]
sum=0
length=len(a)
for i in range(0,length) :
 sum = sum + a[i]
print("\n total sum=" , sum)

 total sum= 1400

In [ ]:
#membership function
a=[200,500,400,300]
sum=0
for i in a :
  sum = sum + i
print("\n total sum=" ,sum)

 total sum= 1400

In [ ]:
#total billing system
items =["piza", "burger", "fries","toast", "sandwitch"]
price =[200,500,300,200,350]
discount =[10,20,30,40,50]
total_bill=0
total_dis =0

for i in range(len(items)) :
  print(items[i])
  total_bill += price[i]
print(total_bill)
dis = price[i] * discount[i]/100
#print(items[i])
total_dis = total_dis + dis
print(total_dis)
final_dis = total_bill - total_dis
print(final_dis)

piza
burger
fries
toast
sandwitch
1550
175.0
1375.0

In [ ]:
number =[]

n= int(input("\n enter the total number of elements you want in list:"))
for i in range(n):
  item =int(input(f"enter {i+1}th element of list :"))
  number.append(item)
print(f" list elements are:" , number)

 enter the total number of elements you want in list:6
enter 1th element of list :1
enter 2th element of list :2
enter 3th element of list :3
enter 4th element of list :4
enter 5th element of list :4
enter 6th element of list :78
 list elements are: [1, 2, 3, 4, 4, 78]