<a href="https://colab.research.google.com/github/alphasinghsingh/Data_Science/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def add(*args):
  return sum(args)
#add(20,30)
add(20,30,40,50)

140

In [ ]:
def add_num(*args):
  sum=0
  for i in args:

    sum=sum+ i
  return(sum)
print(add_num(20,30,49))

99

In [ ]:

def add_num(**kwargs):
  sum=0
  for key,value in kwargs.items():
    sum= sum + value
  return(sum)
print(add_num(a=20,b=30,c=40))

90

In [ ]:
def factorial(n):
  if n==0 :
    return 1
  else:
    p= n*factorial(n-1)
  return p
num=int(input("\n enter the number:"))
fact= factorial(num)
print("\n factorial of a number is:",fact)

 enter the number:5

 factorial of a number is: 120

In [18]:
def fibbo(n):

  if n<=1:
       return n
  else:
    return fibbo(n-1)+fibbo(n-2)

n= int(input(" enter the terms upto which number is desired:"))
fibbo_ser=list(map(fibbo,range(n)))
print(fibbo_ser)

 enter the terms upto which number is desired:15
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]