<a href="https://colab.research.google.com/github/alphasinghsingh/Data_Science/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

items = ("tv", "fridge", "wmachine", "shirts", "fans")
prices = (200, 300, 400, 200, 100)
discount = (10, 20, 30, 40, 20)

# -------------------------
# STEP 1 : Convert to lists
# -------------------------
items_list = list(items)
prices_list = list(prices)
discount_list = list(discount)

# -------------------------------------
# STEP 2 : All calculations on the lists
# -------------------------------------

total_bill = sum(prices_list)

discount_amounts_list = []
for i in range(len(prices_list)):
    dis_amt = prices_list[i] * discount_list[i] / 100
    discount_amounts_list.append(dis_amt)

total_discount = sum(discount_amounts_list)
payable_amount = total_bill - total_discount

# ------------------------------------------------
# STEP 3 : Convert lists → tuples for output display
# ------------------------------------------------
items_tuple = tuple(items_list)
prices_tuple = tuple(prices_list)
discount_tuple = tuple(discount_list)
discount_amounts_tuple = tuple(discount_amounts_list)

# -------------------------
# STEP 4 : Final output
# -------------------------
print("Items:", items_tuple)
print("Prices:", prices_tuple)
print("Discount %:", discount_tuple)
print("Discount Amounts:", discount_amounts_tuple)

print("\nTotal Bill =", total_bill)
print("Total Discount =", total_discount)
print("Final Payable Amount =", payable_amount)

Items: ('tv', 'fridge', 'wmachine', 'shirts', 'fans')
Prices: (200, 300, 400, 200, 100)
Discount %: (10, 20, 30, 40, 20)
Discount Amounts: (20.0, 60.0, 120.0, 80.0, 20.0)

Total Bill = 1200
Total Discount = 300.0
Final Payable Amount = 900.0

In [ ]:
a=(5,20,25,30)
b=(26,5,6,2,3)
c=(3,2,5,1,6)
c=list(c)
average=0
n=len(a)
add=sum(a)
#print(sum)
average= add/n
print(average)
#if b%2==0 :
 # print("number is even")
#else:
 # print("number is odd")
for i in b:
 if i%2 != 0:
   print(i)
n=len(c)
product = 1
for i in c:
   product *=i

print(product)

20.0
5
3
180

In [ ]:
a=(20,5,100,75,85,125,83)
n=len(a)
for i in a:
  if i%5 ==0:
    print("\t",i)


for i in a:
  if ((i%5 ==0) and (i%20==0)):
    print(i)


for i in a :
  if ((i%5 ==0) or (i%20==0)):
    print("\t",i)

for i in a:
  if ((i%5==0) and (i%20==0) or (i%15==0)):
    print(i)

	 20
	 5
	 100
	 75
	 85
	 125
20
100
	 20
	 5
	 100
	 75
	 85
	 125
20
100
75

In [ ]:
employee={"name" :"raju", "äge" :20 ,"salary":5000}
print(employee)
print(employee["name"])
for key,values in employee.items():
  print(f"{key} is {values}")

{'name': 'raju', 'äge': 20, 'salary': 5000}
raju
name is raju
äge is 20
salary is 5000

In [ ]:
employee= {"name" :["x","y","z","p"],
           "age": [20,30,40,50],
           "salary":[1000,2000,3000,4000] }
#for key,values in employee.items():
#print(employee)
#for key,values in employee.items():
sum=0
print(employee["name"])
print(employee["age"])
print(employee["salary"])
for i in employee["salary"]:
  sum=sum+i
print(sum)

['x', 'y', 'z', 'p']
[20, 30, 40, 50]
[1000, 2000, 3000, 4000]
10000

In [ ]:
employee= {"name" :["x","y","z","p"],
           "age": [20,30,40,50],
           "salary":[1000,2000,3000,4000] }
employee["des"]=["xyz"]
print(employee)

{'name': ['x', 'y', 'z', 'p'], 'age': [20, 30, 40, 50], 'salary': [1000, 2000, 3000, 4000], 'des': ['xyz']}

In [ ]:
employee= {"name" :["x","y","z","p"],
           "age": [20,30,40,50],
           "salary":[1000,2000,3000,4000] }
employee["des"]=["xyz"]
print(employee)
del employee["des"]
print(employee)

{'name': ['x', 'y', 'z', 'p'], 'age': [20, 30, 40, 50], 'salary': [1000, 2000, 3000, 4000], 'des': ['xyz']}
{'name': ['x', 'y', 'z', 'p'], 'age': [20, 30, 40, 50], 'salary': [1000, 2000, 3000, 4000]}

In [ ]:
menu= {"items":["x","y","z","p"],
           "prices":[200,300,400,500],
           "discount":[10,20,30,40] }
total_bill=0

items_list = list(menu["items"])
prices_list = list(menu["prices"])
discount_list = list(menu["discount"])
total_bill = sum(prices_list)

discount_amounts_list = []
for i in range(len(prices_list)):
    dis_amt = prices_list[i] * discount_list[i] / 100
    discount_amounts_list.append(dis_amt)

total_discount = sum(discount_amounts_list)
payable_amount = total_bill - total_discount

print("\nTotal Bill =", total_bill)
print("\nTotal Discount =", total_discount)
print("\nFinal Payable Amount =", payable_amount)

#for in range(len(menu["items"])):
  #print(menu["item"[i]])

Total Bill = 1400

Total Discount = 400.0

Final Payable Amount = 1000.0

In [ ]:
Menu = {
    "products": ["x", "y", "z", "p"],
    "price": [200, 300, 400, 500],
    "discount": [10, 20, 30, 40]
}

total_bill = 0
total_discount = 0

for i in range(len(Menu["products"])):
    price = Menu["price"][i]
    discount_percent = Menu["discount"][i]

    total_bill += price
    total_discount += price * (discount_percent / 100)
final_payable = total_bill - total_discount

print("Total Bill:", total_bill)
print("Total Discount:", total_discount)
print("Final Payable Amount:", final_payable)

Total Bill: 1400
Total Discount: 400.0
Final Payable Amount: 1000.0

In [1]:
# Given dictionary
items = {
    "state": ["pb", "hr", "up", "hp", "pb", "guj", "hr"],
    "sale":  [2000, 3000, 4000, 5000, 1000, 3000, 2000]
}

total_sale = 0
state_wise_sale = {}


for i in range(len(items["state"])):
    state = items["state"][i]
    sale_amount = items["sale"][i]


    total_sale += sale_amount


    if state in state_wise_sale:
        state_wise_sale[state] += sale_amount
    else:
        state_wise_sale[state] = sale_amount


print("Total Sale:", total_sale)
print("State-wise Sale:", state_wise_sale)

Total Sale: 20000
State-wise Sale: {'pb': 3000, 'hr': 5000, 'up': 4000, 'hp': 5000, 'guj': 3000}

In [ ]:
a=10
b=5
print(a/b)

2.0

In [ ]:
a=10
b='c'
try:
  print(a/b)
except TypeError :
  print("cannot ne used as divisible by char not possible")
finally:
  print(" welcome")

cannot ne used as divisible by char not possible
 welcome

In [ ]:
a=10
b=0
try:
  print(a/b)
except ZeroDivisionError :
  print("\n cannot divide by zero")
finally:
  print("welcome")

 cannot divide by zero
welcome

In [ ]:
a=10
b=10
try:
  print(a/b)
except ZeroDivisionError :
  print("\n cannot divide by zero")
else:
  print("output is interger value")
finally:
  print("welcome")

1.0
output is interger value
welcome

In [ ]:
employee={"name":"rajuk", "age":20 ,"salary":50000}
print(employee)
print(employee["name"])
print(employee["age"])
print(employee["salary"])
for key,values in employee.items():
  print(f"{key} is {values}")

{'name': 'rajuk', 'age': 20, 'salary': 50000}
rajuk
20
50000
name is rajuk
age is 20
salary is 50000