<a href="https://colab.research.google.com/github/alphasinghsingh/Data_Science/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
sum=0
fact=1
n=int(input("\n enter the number upto which series of factorial sum is desired=:"))
for i in range(1, n+1) :
  fact = fact * i
  sum = sum + fact
print("\n sum",sum)

 enter the number upto which factorial sum is desired=:5

 sum 153

In [ ]:
#FIBONACCI SERIES
first_term=0
second_term=1
n=int(input ("\n enter the number upto which series is desired: "))
print(first_term)
print(second_term)


for i in range(3,n+1) :
  third_term= first_term +second_term
  first_term =second_term
  second_term= third_term
  print(third_term)

 enter the number upto which series is desired: 10
0
1
1
2
3
5
8
13
21
34

In [ ]:
#prime number
n =int(input("\n enter the number whose prime number is to be find:"))

for i in range(2, n):
  if n%i== 0 :
    print("\n number is not a prime")
    break
else :
  print("\n number is prime")

 enter the number whose prime number is to be find:45

 number is not a prime

In [ ]:
# print number lfrom 1 to 10
n=int(input("\n enter the number upto which series is desired=  "))
while n<= 10 :
 print(n)
 n=n+1

 enter the number upto which series is desired=  5
5
6
7
8
9
10