<a href="https://colab.research.google.com/github/alphasinghsingh/Data_Science/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

items = ("tv", "fridge", "wmachine", "shirts", "fans")
prices = (200, 300, 400, 200, 100)
discount = (10, 20, 30, 40, 20)

# -------------------------
# STEP 1 : Convert to lists
# -------------------------
items_list = list(items)
prices_list = list(prices)
discount_list = list(discount)

# -------------------------------------
# STEP 2 : All calculations on the lists
# -------------------------------------

total_bill = sum(prices_list)

discount_amounts_list = []
for i in range(len(prices_list)):
    dis_amt = prices_list[i] * discount_list[i] / 100
    discount_amounts_list.append(dis_amt)

total_discount = sum(discount_amounts_list)
payable_amount = total_bill - total_discount

# ------------------------------------------------
# STEP 3 : Convert lists → tuples for output display
# ------------------------------------------------
items_tuple = tuple(items_list)
prices_tuple = tuple(prices_list)
discount_tuple = tuple(discount_list)
discount_amounts_tuple = tuple(discount_amounts_list)

# -------------------------
# STEP 4 : Final output
# -------------------------
print("Items:", items_tuple)
print("Prices:", prices_tuple)
print("Discount %:", discount_tuple)
print("Discount Amounts:", discount_amounts_tuple)

print("\nTotal Bill =", total_bill)
print("Total Discount =", total_discount)
print("Final Payable Amount =", payable_amount)

Items: ('tv', 'fridge', 'wmachine', 'shirts', 'fans')
Prices: (200, 300, 400, 200, 100)
Discount %: (10, 20, 30, 40, 20)
Discount Amounts: (20.0, 60.0, 120.0, 80.0, 20.0)

Total Bill = 1200
Total Discount = 300.0
Final Payable Amount = 900.0

In [ ]:
a=(5,20,25,30)
b=(26,5,6,2,3)
c=(3,2,5,1,6)
c=list(c)
average=0
n=len(a)
add=sum(a)
#print(sum)
average= add/n
print(average)
#if b%2==0 :
 # print("number is even")
#else:
 # print("number is odd")
for i in b:
 if i%2 != 0:
   print(i)
n=len(c)
product = 1
for i in c:
   product *=i

print(product)

20.0
5
3
180

In [ ]:
a=(20,5,100,75,85,125,83)
n=len(a)
for i in a:
  if i%5 ==0:
    print("\t",i)


for i in a:
  if ((i%5 ==0) and (i%20==0)):
    print(i)


for i in a :
  if ((i%5 ==0) or (i%20==0)):
    print("\t",i)

for i in a:
  if ((i%5==0) and (i%20==0) or (i%15==0)):
    print(i)

	 20
	 5
	 100
	 75
	 85
	 125
20
100
	 20
	 5
	 100
	 75
	 85
	 125
20
100
75

In [ ]:
employee={"name" :"raju", "äge" :20 ,"salary":5000}
print(employee)
print(employee["name"])
for key,values in employee.items():
  print(f"{key} is {values}")

{'name': 'raju', 'äge': 20, 'salary': 5000}
raju
name is raju
äge is 20
salary is 5000

In [ ]:
employee= {"name" :["x","y","z","p"],
           "age": [20,30,40,50],
           "salary":[1000,2000,3000,4000] }
#for key,values in employee.items():
#print(employee)
#for key,values in employee.items():
sum=0
print(employee["name"])
print(employee["age"])
print(employee["salary"])
for i in employee["salary"]:
  sum=sum+i
print(sum)

['x', 'y', 'z', 'p']
[20, 30, 40, 50]
[1000, 2000, 3000, 4000]
10000

In [ ]:
employee= {"name" :["x","y","z","p"],
           "age": [20,30,40,50],
           "salary":[1000,2000,3000,4000] }
employee["des"]=["xyz"]
print(employee)

{'name': ['x', 'y', 'z', 'p'], 'age': [20, 30, 40, 50], 'salary': [1000, 2000, 3000, 4000], 'des': ['xyz']}

In [ ]:
employee= {"name" :["x","y","z","p"],
           "age": [20,30,40,50],
           "salary":[1000,2000,3000,4000] }
employee["des"]=["xyz"]
print(employee)
del employee["des"]
print(employee)

{'name': ['x', 'y', 'z', 'p'], 'age': [20, 30, 40, 50], 'salary': [1000, 2000, 3000, 4000], 'des': ['xyz']}
{'name': ['x', 'y', 'z', 'p'], 'age': [20, 30, 40, 50], 'salary': [1000, 2000, 3000, 4000]}

In [ ]:
menu= {"items":["x","y","z","p"],
           "prices":[200,300,400,500],
           "discount":[10,20,30,40] }
total_bill=0

items_list = list(menu["items"])
prices_list = list(menu["prices"])
discount_list = list(menu["discount"])
total_bill = sum(prices_list)

discount_amounts_list = []
for i in range(len(prices_list)):
    dis_amt = prices_list[i] * discount_list[i] / 100
    discount_amounts_list.append(dis_amt)

total_discount = sum(discount_amounts_list)
payable_amount = total_bill - total_discount

print("\nTotal Bill =", total_bill)
print("\nTotal Discount =", total_discount)
print("\nFinal Payable Amount =", payable_amount)

#for in range(len(menu["items"])):
  #print(menu["item"[i]])

Total Bill = 1400

Total Discount = 400.0

Final Payable Amount = 1000.0

In [ ]:
Menu = {
    "products": ["x", "y", "z", "p"],
    "price": [200, 300, 400, 500],
    "discount": [10, 20, 30, 40]
}

total_bill = 0
total_discount = 0

for i in range(len(Menu["products"])):
    price = Menu["price"][i]
    discount_percent = Menu["discount"][i]

    total_bill += price
    total_discount += price * (discount_percent / 100)
final_payable = total_bill - total_discount

print("Total Bill:", total_bill)
print("Total Discount:", total_discount)
print("Final Payable Amount:", final_payable)

Total Bill: 1400
Total Discount: 400.0
Final Payable Amount: 1000.0

In [ ]:
# Given dictionary
items = {
    "state": ["pb", "hr", "up", "hp", "pb", "guj", "hr"],
    "sale":  [2000, 3000, 4000, 5000, 1000, 3000, 2000]
}

total_sale = 0
state_wise_sale = {}


for i in range(len(items["state"])):
    state = items["state"][i]
    sale_amount = items["sale"][i]


    total_sale += sale_amount


    if state in state_wise_sale:
        state_wise_sale[state] += sale_amount
    else:
        state_wise_sale[state] = sale_amount


print("Total Sale:", total_sale)
print("State-wise Sale:", state_wise_sale)

Total Sale: 20000
State-wise Sale: {'pb': 3000, 'hr': 5000, 'up': 4000, 'hp': 5000, 'guj': 3000}

In [ ]:
a=10
b=5
print(a/b)

2.0

In [ ]:
a=10
b='c'
try:
  print(a/b)
except TypeError :
  print("cannot ne used as divisible by char not possible")
finally:
  print(" welcome")

cannot ne used as divisible by char not possible
 welcome

In [ ]:
a=10
b=0
try:
  print(a/b)
except ZeroDivisionError :
  print("\n cannot divide by zero")
finally:
  print("welcome")

 cannot divide by zero
welcome

In [ ]:
a=10
b=10
try:
  print(a/b)
except ZeroDivisionError :
  print("\n cannot divide by zero")
else:
  print("output is interger value")
finally:
  print("welcome")

1.0
output is interger value
welcome

In [ ]:
employee={"name":"rajuk", "age":20 ,"salary":50000}
print(employee)
print(employee["name"])
print(employee["age"])
print(employee["salary"])
for key,values in employee.items():
  print(f"{key} is {values}")

{'name': 'rajuk', 'age': 20, 'salary': 50000}
rajuk
20
50000
name is rajuk
age is 20
salary is 50000

In [ ]:
def info():
  print("\n hello world")
info()

 hello world

In [ ]:
def add(a,b):
  print(a+b)
add(20,30)
add(30,10)
add(12,2)

50
40
14

In [ ]:
def fact(n):
  fact=1
  for i in range(1,n+1):
      fact=fact*i
  print(fact)
fact(5)

120

In [ ]:
def factorial(n):
  if n==0 :
    return 1
  else:
    p= n*factorial(n-1)
  return p
num=int(input("\n enter the number:"))
fact= factorial(num)
print("\n factorial of a number is:",fact)

 enter the number:4

 factorial of a number is: 24

In [ ]:

def fact(n):
  fact=1
  sum=0
  for i in range(1,n+1):
    fact=fact*i
    sum += fact
  return sum

print(fact(5))
print(fact(8))

153
46233

In [ ]:
def fact(n):
  fact=1
  sum=0
  for i in range(1,n+1):
    fact= fact*i
    if i%2 !=0 :
      sum += fact
  return(sum)
print(fact(5))

127

In [ ]:

def fibbo(n):
 a=0
 b=1
 sum=0
 for i in range(3,n+1):
    sum=a+b
    a=b
    b=sum
 return sum
print(fibbo(10))

34

In [ ]:
def hcf(a,b):
  if a<b :
    n =a
  else :
    n =b
  for i in range(1,n+1):
    if (a%i ==0) and (b%i==0):
      hcf=i
  return hcf
print(hcf(5,20))
print(hcf(100,20))

5
20

In [ ]:
def lcm(a,b):
  if a>b:
    n=a
  else:
    n=b
  for i in range(1,n+1) :
    if (n%a==0) and (n%b==0):
      return n
    n+=1
print(lcm(5,20))
print(lcm(100,20))

20
100

In [ ]:
def palin(num) :
  rev=0
  temp=num

  while num>0:
    digit=num%10
    rev= rev*10 +digit
    num //= 10
  #return rev

  print(temp)
  if temp == rev:
    print("num is palindrome")
  else:
    print(" num is not palindrome")

palin(11011)

11011
num is palindrome

In [ ]:
def add(num):
  sum=0
  while num>0:
    digit=num%10
    sum+=digit
    num //=10
  print(sum)
add(12345)

15

In [ ]:
def sersum(n):
  sum=0
  av=0
  for i in range(1,n+1):
    sum+=i
    av= sum/n
  print(sum)
  print(av)
print(sersum(5))

15
3.0
None

In [ ]:
def palin(txt):


  rev=txt[::-1]

  if txt==rev :
    print("string is a palindrome")
  else:
    print("string is not palindrome")
palin("radar")

palindrome

In [ ]:
def series(n) :

  while n>0:
    print(n)
    n=n-5
    #return n
print(series(50))

50
45
40
35
30
25
20
15
10
5
None

In [ ]:
def series(n):
  sum=0
  for i in range(1,n+1):
    if (i%5==0) and (i%10==0):
      sum += i
  print(sum)
series(50)

150

In [ ]:
total_sum = 0

# Sum of even numbers from 2 to 30
for i in range(2, 31, 2):
    total_sum += i

# Add 5! (factorial of 5)
fact = 1
for j in range(1, 6):
    fact *= j

total_sum += fact

print("Total Sum =", total_sum)

Total Sum = 360

In [ ]:
def fact(n):
  fact=1
  sum=0
  for i in range(1,n+1):
    fact= fact*i
    if i%2 ==0 :
      sum += fact
  return(sum)
print(fact(6))

746

In [ ]:
def fact(n):
  fact=1
  sum=0
  for i in range(1,n+1):
    fact= fact*i
    if i%2 !=0 :
      sum += fact
  return(sum)
print(fact(6))

127

In [ ]:
def fibbon(n):
  if (n<=1):
    return n
  else :
    return fibbon(n-1)+fibbon(n-2)
n=int(input("\n enter the numbers of terms:"))
for i in range(n):
  print(fibbon(i))

 enter the numbers of terms:10
0
1
1
2
3
5
8
13
21
34

In [ ]:
def factorial(n):
  if n==0 :
    return 1
  else:
    p= n*factorial(n-1)
  return p
num=int(input("\n enter the number:"))
fact= factorial(num)
print("\n factorial of a number is:",fact)

 enter the number:5

 factorial of a number is: 120

In [ ]:
square= lambda a: a*a
square(5)

25

In [ ]:
summ= lambda a,b : a+b
summ(5,6)

11

In [ ]:
product= lambda a,b,c : a*b*c
product(2,3,5)

30

In [ ]:
cube= lambda a: a*a*a
cube(5)

125

In [ ]:
def hcf(a,b,c):
  if a<b and a<c:
    n =a
  if b<c and b<a:
   n=b
  else :
    n =c
  for i in range(1,n+1):
    if (a%i ==0) and (b%i==0) and (c%i==0):
      hcf=i
  return hcf
print(hcf(20,30,15))
print(hcf(100,25,150))

5
25

In [ ]:
def lcm(a,b,c):
  if a>b and a>c:
    n=a
  if b>c and b>a:
    n=b
  else:
    n=c
  for i in range(n, a*b*c+1) :
    if (n%a==0) and (n%b==0) and (n%c==0):
      return n
    n+=1
print(lcm(5,10,15))
print(lcm(5,100,15))

30
300

In [ ]:
def lcm(a,b):
  if a>b:
    n=a
  else:
    n=b
  for i in range(1,n+1) :
    if (n%a==0) and (n%b==0):
      return n
    n+=1
print(lcm(5,20))
print(lcm(100,20))

20
100

In [ ]:
with open("file1.txt", "w") as file:
  file.write(" hello india")
  file.write("\n rajushyam")
  file.write("\n")
  file.write("\n")
  file.write("hello")

In [ ]:
with open("file1.txt", "r") as file:
  data=file.read()
print(data)

 hello india
 rajushyam

In [ ]:
with open("file1.txt","r") as file:
  data=file.readline()
  print(data)

hello india!!!!!!

In [ ]:
with open("file1.txt", "r") as file:
  data=file.readlines()
print(data)

[' hello india\n', ' rajushyam\n', '\n', 'hello']

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
with open("file1.txt", "r") as file:
  data=file.readlines()
for i in data:
  print(i)

hello india!!!!!!

In [ ]:
with open("file1.txt", "w") as file:
  file.write("hello india!!!!!!")

with open("file2.txt", "w") as file:
  file.write("india is a nation!!!!!!")

with open("file1.txt", "r") as file:
  data1=file.read()
with open("file2.txt", "r") as file:
  data2=file.read()

  data=data1+" "+data2
  with open("file3.txt", "w") as file:
    file.write(data)

# New Section

In [ ]:
with open("file3.txt", "a") as file:
  file.write(" hello india")
  file.write("\n rajushyam")

In [ ]:
with open("file4.txt","w") as file:
  file.write("what is the time")
  file.write("\nhello whats is the day")

In [ ]:
with open("file4.txt","r") as file:
  data=file.read()
  print(data)

what is the time
hello whats is the day

In [ ]:
with open("file4.txt","r") as file:
  data=file.readline()
  print(data)

what is the time

In [ ]:
with open("file4.txt","r") as file:
  data=file.readlines()
  print(data)

['what is the time\n', 'hello whats is the day']

In [ ]:
with open("file4.txt","r") as file:
  data=file.readlines()
  #print(data)
  for line in data:
    print(line)

what is the time

hello whats is the day

In [ ]:
with open("file4.txt","a") as file:
  file.write("hello india")
  file.write("\nhello whats is the day in india")

In [ ]:
with open("file5.txt", "w") as file:
  file.write("hello india-ram!!!")

with open("file6.txt", "w") as file:
  file.write("india is a nation-raj!!!!!!")

with open("file5.txt", "r") as file:
  data1=file.read()
with open("file6.txt", "r") as file:
  data2=file.read()

  data= data1 +" "+ data2
  with open("file7.txt", "w") as file:
    file.write(data)

In [ ]:
a=10
b=5
print(a/b)

2.0

In [ ]:
a=10
b=0
try:
  print(a/b)
except ZeroDivisionError :
  print("\ncannot divide by zero")
finally:
  print("welcome")

cannot divide by zero
welcome

In [ ]:
a=10
b=10
try:
  print(a/b)
except ZeroDivisionError :
  print("\n cannot divide by zero")
else:
  print("output is interger value and run successfully")
finally:
  print("welcome")

1.0
output is interger value and run successfully
welcome

In [ ]:
a=10
b='c'
try:
  print(a/b)
except TypeError :
  print("cannot ne used as divisible by char not possible in this program")
finally:
  print(" welcome")

cannot ne used as divisible by char not possible in this program
 welcome

In [ ]:

num = int(input("Enter a number upto which prime numbers(1-num) are desired: "))
for num in range(1,101):
  if num<=1:
    continue
  else:
    for i in range(2,num):
      if (num % i == 0):
       break
    else:
      print(num)

Enter a number upto which prime numbers(1-num) are desired: 100
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
num=int(input("\n enter the number:"))
rev=0
digit=0
while(num>0):
  digit=num%10
  rev=rev*10+digit
  num//=10
print(rev)

 enter the number:123
321

In [ ]:
str=input("\n enter the string:")
#rev==0
rev=str[::-1]
print(rev)

 enter the string:qazwsc
cswzaq

In [ ]:
num=int(input("\n enter the number upto which series is desired:"))
sum=0
for i in range(1,num+1):

  sum+=i**5
  print(sum)

 enter the number upto which series is desired:10
1
33
276
1300
4425
12201
29008
61776
120825
220825

In [ ]:
num=int(input("\n enter the number upto which series is desired:"))
sum=0
for i in range(1,num+1):

  sum+=i**2
  print(sum)

 enter the number upto which series is desired:10
1
5
14
30
55
91
140
204
285
385

In [ ]:
num1=int(input("\n enter the number upto which even series is desired:"))
num2=int(input("\n enter the number upto which odd series is desired:"))


sum1=0
sum2=0
total_sum=0
for i in range(1,num1+1):
  if i%2==0:
    sum1+=i**3
    print(sum1)
for i in range(1,num2+1):
  if i%2!=0 :
    sum2+=i**2
    print(sum2)

total_sum=sum1 +sum2
print("\n\n total sum",total_sum)

 enter the number upto which even series is desired:10

 enter the number upto which odd series is desired:9
8
72
288
800
1800
1
10
35
84
165


 total sum 1965

In [ ]:
from math import pow
num1=int(input("\n enter the number:"))
num2=int(input("\n enter the number:"))
num3=int(input("\n enter the number:"))
num4=int(input("\n enter the number:"))
y1=pow(num1,0.25)
y2=pow(num2,0.25)
y3=pow(num3,0.25)
y4=pow(num4,0.25)
print(y1+y2+y3+y4)

 enter the number:16

 enter the number:81

 enter the number:256

 enter the number:625
14.0

In [ ]:
a=[i for i in range(5)]
print(a)

[0, 1, 2, 3, 4]

In [ ]:
a=[i*i for i in range(5)]
print(a)

[0, 1, 4, 9, 16]

In [ ]:
a=[i**5 for i in range(5)]
print(a)

[0, 1, 32, 243, 1024]

In [ ]:
a=[i**0.5 for i in range(5)]
print(a)

[0.0, 1.0, 1.4142135623730951, 1.7320508075688772, 2.0]

In [ ]:
a=[i for i in range(20) if i%2==0]
print(a)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
a=[i for i in range(10) if i%2!=0 ]
print(a)

[1, 3, 5, 7, 9]

In [ ]:
# Sum of squares of odd numbers from 1 to 9
sum_squares_odd = 0
for i in range(1, 10, 2):    # 1,3,5,7,9
    sum_squares_odd += i**2

# Sum of cubes of even numbers from 2 to 10
sum_cubes_even = 0
for i in range(2, 11, 2):    # 2,4,6,8,10
    sum_cubes_even += i**3

# Total sum of both series
total_sum = sum_squares_odd + sum_cubes_even

print("Sum of squares of odd numbers (1–9):", sum_squares_odd)
print("Sum of cubes of even numbers (2–10):", sum_cubes_even)
print("Total sum:", total_sum)

Sum of squares of odd numbers (1–9): 165
Sum of cubes of even numbers (2–10): 1800
Total sum: 1965

In [1]:
import numpy as np
a=np.array([2,3,5])
print(a)

[2 3 5]

In [2]:
import numpy as np
a=np.array(55)
print(a)

55

In [3]:
import numpy as np
print(a.ndim)

0

In [4]:
import numpy as np
a=np.array([55,65])
print(a)

[55 65]

In [8]:
#a=a.shape()
print(a.shape)

(2,)

In [22]:
matrix=np.array([[2,4],[5,6]])
print(matrix)
matrix.shape

[[2 4]
 [5 6]]

(2, 2)

In [21]:
matrix1=np.array([[2,5,4,5],[5,6,7,8]])
print(matrix1)
matrix1.shape

[[2 5 4 5]
 [5 6 7 8]]

(2, 4)

In [20]:
matrix1=np.array([[2,5],[4,5],[5,6],[7,8]])
print(matrix1)
matrix1.shape

[[2 5]
 [4 5]
 [5 6]
 [7 8]]

(4, 2)

In [42]:
a=[5,6,8,2]
b=[2,3,4,5]
a=np.array([5,6,8,2])
b=np.array([2,3,4,5])
print(a+b)
print(a-b)
print(a*b)
print(a/b)
len(a)
len(b)
print(sum(a))
print(a.std())
print(sum(a))

[ 7  9 12  7]
[ 3  3  4 -3]
[10 18 32 10]
[2.5 2.  2.  0.4]
21
2.165063509461097
21

In [45]:
x=np.eye(6)
print(x)

[[1. 0. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0. 0.]
 [0. 0. 1. 0. 0. 0.]
 [0. 0. 0. 1. 0. 0.]
 [0. 0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 0. 1.]]

In [47]:
a=[[5,6],[7,8]]
print(a)

[[5, 6], [7, 8]]

In [48]:
a=[[[5,6,7],[1,2,3]]]
print(a)

[[[5, 6, 7], [1, 2, 3]]]